*{margin: 0;
padding: 0;
box-sizing: border-box;}
/* El scroll */
html , body{ max-width: 100% !important;
	overflow-x: hidden !important;}

html::-webkit-scrollbar{
width: 1vw;
background-image: linear-gradient(to right top, #051937, #002c49, #003f58, #005361, #006666);}

html::-webkit-scrollbar-thumb{	
border-radius: 10px;
background: #0a0a0a;
box-shadow: 1px 2px 20px 20px rgba(0, 0, 0, 0.9);}

/* Fonts */
@font-face{
font-family:TraditionSansXLight;
src:url(../fonts/HindMadurai-Regular.ttf)}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Raleway:ital,wght@1,300&family=Ubuntu+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?famirly=Stick+No+Bills&display=swap');

/* header */
header {height: 100vh;
background:  url(../img/fondo.jpg); 
background-color: rgba(0,0,0,0.6);
background-size: 100% 100vh;
background-repeat: no-repeat;
position: relative;	
background-attachment: fixed;
; width: 100%;}

body{background: rgba(1, 40, 52,1);}

.conten{ background: linear-gradient(90deg, rgba(27,103,104,0.2) 0%, rgba(17,52,73,0.5) 61%, rgba(12,11,19,0.7) 100%, rgba(12,11,19,0.6) 127%);
display: flex;
width: 100%; 
padding: 2vh;}

.conten i {
font-size: 3.7vh;
margin-left: 1vh;
margin-top: 1vh;
margin-right: 15px; 
margin-left: 10px  ; 
color: white; 
cursor: pointer;}

.conten i:hover {
color: #2feab8
;transition: all 1s ease}

.conten nav {
position: absolute; 
right: 10vh;}

.conten nav li{
display: inline-block;
text-decoration: none;
color: #ffff; 
padding: 0.5vh 1.5vh}			

.conten nav li a {
text-decoration: none;
color: #ffff; 
font-family: 'Stick No Bills', sans-serif;
font-style: normal;
font-size: 3.3vh;
letter-spacing: 0.3vh}

.conten nav ul #inicio{  
cursor: pointer;
transition: all 1s ease;
color:#2feab8}

.conten nav ul li a:hover{
border-bottom: 0.5vh solid #2feab8;
padding-bottom: 0.5vh;
transition: all 300ms ease-out;
cursor: pointer;
transition: all 1s ease;
color:#2feab8}

.conten nav img{
position: fixed;
top:1.5vh;
right: 0.5vh;
width:4%;
z-index: 2;
height: 6vh
; border-radius: 50%;
background: rgba(21, 23, 23,0.5)}

#btn-men{position: relative;
display: none;}

.container-menu{
position: absolute;
background: rgba(0,0,0,0.9);
height:100vh;
width: 20%;
top: 0;
left:-20%;
transition: all 900ms ease;
opacity: 0;
visibility: hidden;
z-index: 1}

#btn-men:checked ~ .container-menu{
opacity: 1;
visibility: visible;
transition: all 1.5s ease;
left:0%}

.cont-menu{ 
width: 100%;
height: 90vh;
position: relative;
z-index: 1;}

.cont-menu nav{
padding-top: 8vh}

.cont-menu  nav a{ 
display: block; 
text-decoration: none;
font-family: 'Stick No Bills', sans-serif;
font-style: normal;
 font-size: 3.3vh;
padding:2vh;
color: #c7c7c7c7; }
			
.cont-menu nav a:hover{ 
border-left: 2vh solid black;
background:rgba(28, 125, 155,0.4); 
color:#ffff  ;
transition: all 1s ease-out
}

 .cont-menu label{ position: absolute; 
top:20px;
right: 5px; 
color: #ffff; 
cursor: pointer; 
font-size: 4vh  ;
border: 1px solid transparent;
border-radius: 50%;
padding: 1vh;}      

.cont-menu label:hover {color:#2feab8;
	transition: all 1.5s ease;
border: 1px solid #2feab8;
border-radius: 50%
;padding: 1vh;}

.saludo img{width:35vw;
height: 25vh;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
position: relative;
margin-top: 42vh;}

/* bienvenida */

.bienvenido{ max-width: 60%;  margin: 10vh auto;
 border: 1vh solid rgb(27, 68, 81);
background-image: linear-gradient(to top, #1b4125, #054737, #004c4a, #004f5a, #0b5268) ;
box-shadow: 5px 1px 10px 4px black;
  padding: 3vh 2vh}

.bienvenido h3 { 
color:#dff4f7 ; 
font-family: 'Ubuntu Condensed', sans-serif;; 
font-style: oblique;
font-size: 5.5vh;
text-shadow: 1px 1px 2px #95afc0;
text-align: center; line-height: 1;
  padding-top: 2vh;}

.bienvenido h5 { 
color: #2feab8;
font-family: 'Ubuntu Condensed', sans-serif;; 
font-style: italic;
font-size:4.5vh;  
text-shadow: 1px 1px 6px black;
text-align: center;	} 

.bienvenido p { color: #fff; padding: 3vh 5%; 
		text-align: center;
		justify-content: center; 
		line-height: 1.4;
		 font-size: 3vh ;
		 width: 85%;
		 font-family: TraditionSansXLight
		 ;display: flex;
		margin: 2vh auto;
		align-items: center;
		justify-content: center;  }		

#H5{ font-family: 'Stick No Bills', sans-serif;
		font-weight: 500; 
		 color: #24dff9 ; 
		font-size: 5.5vh; 
		 text-shadow: 10px 6px 10px black;
		text-align:center;
		 margin: 0 auto;
		margin-bottom: 3vh;
		margin-top: 5vh;
		letter-spacing: 1px;
		width: 6 0%}

/* web */
.pag-web{display:grid;
	grid-template-columns: repeat(2	,1fr);
width:100%;
margin: 0% auto;
background: rgba(6, 12, 17,0.7);
padding: 10vh 15vh}


.web{width: 100%;
margin: 0 auto;}

#H4{ font-family: 'Stick No Bills', sans-serif;
		font-weight: 500; 
		 color: #24dff9 ; 
		font-size: 4.2vh; 
		 text-shadow: 10px 6px 10px black;
		text-align:left;
		 margin: 0 auto;
		margin-bottom: 2vh;
		margin-top: 5vh;
		letter-spacing: 1px;}

.web p { color: #f7f1e3;  
	justify-content ; 
	font-size:3vh ;
	 font-family: TraditionSansXLight;
	line-height: 1.5;
width: 100%;
margin: 5vh auto;}

.web a{text-decoration: none;}

.web #car { color: #f7f1e3;  
	font-size:3vh ;
	 font-family: TraditionSansXLight;
	line-height: 1.5;
padding:1vh 3vh;
background: rgb(44, 46, 49);
border: 0.2vh solid rgba(91, 33, 193,0.7);
text-align: left;
background-image: linear-gradient(to top, #1b4125, #054737, #004c4a, #004f5a, #0b5268);
margin-top: 2vh}

.web #car:hover{
color:#DCD0FF;
transition: all 1s ease;
cursor: pointer;
border: 0.2vh solid rgba(90, 31, 155,0.9);
box-shadow: 0px 0px 5vh rgba(91, 33, 193,0.7);}

.pag-web .img{  
position: relative;
background:  url(../img/foo.png) 
;background-size: 100% 45vh;
background-repeat: no-repeat;}

.pag-web .img img {  
justify-content ; 
text-align: center;
border-radius: 5px;
margin: 0 auto;
width: 85%;
;height: 45vh;}

/* beneficios */
.divido{
display: grid;
grid-template-columns: repeat(2,1fr);		
background: url(../img/banner.jpg);
background-size: 100% 100%;
background-position: center;
padding: 5vh;
margin:10vh auto; 
border-radius: 5vh;
width: 90%}

.divido .parte1 {width: 100%}

.divido article h5 { color: #fff;
 padding: 3vh 1%;
	justify-content line-height: ;
	 font-size: 4.3vh ;  
font-family: 'Stick No Bills', sans-serif}

.divido article p { 
color: #fff; 
padding: 6px 1%;
line-height: 1.5;
font-size: 3vh ;
font-family:TraditionSansXLight ;
width: 90%}

.divido article li { 
color: #fff;
padding: 0.5vh 1%;
justify-content line-height: 1;
font-size: 3vh; 
font-family: TraditionSansXLight;
line-height: 1.2 }

/* partes*/
.partesweb{display: grid;
grid-template-columns: repeat(3,1fr);
 width: 85%;margin: 3vh auto;
grid-gap: 2vh}

.parte{
 border: 0.5vh solid  #004F79;
margin: 2vh 1vh;
width: 100%; 
background:rgb(10, 10, 10);
cursor:pointer;}	

.parte:hover{
transform: translateY(-7%);
transition: all 1s ease-out;
background:rgb(23, 6, 67)}

.parte figure img{ width: 100% ;
 height: 25vh; 
 margin:  1.5vh;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto; }		


.parte h5 {  	 
		line-height: 1; color: #ffff;
	  	color: #fff;
	  	padding-top: 3vh ;  
		 font-size:3.5vh ; 
		 border-bottom: 0.5vh solid  #004F79; 
		 width: 40%;
		 letter-spacing: 1px;
		padding-left: 3vh;
		font-family: TraditionSansXLight;}

.parte p { font-size: 2.8vh; color: #ffff;
	  	color: #fff; 
	font-family: TraditionSansXLight;
	padding: 2vh 1vh;}


.trabajos{display: grid;
	grid-template-columns: repeat(2,1fr); 
	width: 60%;  justify-content: center;
	align-items: center ;margin: 0px auto;
position: relative;
grid-gap: 1vh;
  padding-bottom: 4vh;}

.proyectos p{  
font-family: TraditionSansXLight;
color: #ecf0f1; font-size: 3.1vh; 
padding: 2vh 0px;
margin: 0  auto;
text-align: center;
width: 60%}


.pro {width: 95%;  
border: 1px solid black;
background-image: linear-gradient(to top, #1b4125, #065644, #006a69, #007d91, #088fb8); 
border-radius: 5%; 
margin: 4vh auto 	}

.pro img{width: 95%; height: 25vh;
margin: 0 auto;
justify-content: center;
align-items: center;
display: flex;
border-radius: 2vh; 
}


.pro h3 { font-family: 'Stick No Bills', sans-serif;
		 margin: 0.4vh ;
		color:rgb(229, 245, 248); 
		font-size: 4vh;
		text-align: center;
		letter-spacing: 2px}

.pro p   { font-family: TraditionSansXLight; 
		line-height: 1.3; 
		padding: 1.5vh 0vh;
		font-size: 2.8vh;
		color: rgb(229, 245, 248);
		 margin:0vh auto;
		text-align: center;
		width: 95%}				

.pro button{font-family: TraditionSansXLight; 
			padding: 1px;
			color: rgb(29, 43, 131);
			margin: 1vh auto;
			text-align: center;
			background: rgba(24, 25, 33,0.5);
			border-radius: 5px ;
			border: none;
			display: flex;
			background:	#191919}


.pro a { font-family: 'Stick No Bills', sans-serif; 
		line-height: 1.2; 
		padding: 1px;
		font-size:3vh;
		color:#cccccc;;
		 text-decoration:none;
		;margin: 5px 10px; 
		font-size: 3.5vh}

.pro:hover{ box-shadow:1px 1px 10px 10px rgba(27, 151, 164,0.5)
	; 	cursor: pointer;
			transition: all 400ms ease-in-out ;}

.pro button:hover{
background-image: linear-gradient(to top, #1b4125, #054737, #004c4a, #004f5a, #0b5268);	
	;transition: all 3s ease-out }

.otros{
padding: 2vh 0px;
width: 100%;}

.otros p{ text-align: center; margin: 2vh;
color: white;
font-family: TraditionSansXLight;
color: #ecf0f1; 
font-size: 3vh; 
width: 50%;
margin: 0 auto}

.otros div{display: flex; );
	width: 100%;
	margin: 5px auto;
align-items: center;
justify-content: center;}				
			

.otros div a{ 
 text-decoration: none;	
 font-family: 'Stick No Bills', sans-serif;
 ;font-size: 3.2vh;
	color: #ffff;
	margin: 10px 20px}

.otros div  a:hover{ ;
	color:rgba(100, 200, 78,0.7) }

#servicio{background: rgba(25, 27, 31,0.4);
padding: 4vh; }

.ser{display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 2vh;
width: 90%;
margin: 3vh auto;
height: 100%;
margin-top: 3vh}

.ser .s1 div{
width: 100%;}

.ser .s0:hover{
transition: all 1s ease-out;
background:rgba(23, 6, 67,0.7);
border: 0.3vh solid black}

.ser .s1 div img{
	width: 100%;
background: rgb(6, 12, 17);
height: 45vh}

.ser .s0 h5{
font-size:3.3vh;
text-align: center;
padding-top: 2vh;
width: 96%;
color: white;  
font-family: TraditionSansXLight;
color: #ecf0f1; }

.ser .s1 div p{
font-size:2.8vh;
text-align: left;
width: 100%;
font-family: TraditionSansXLight;
color: #ecf0f1; 
font-style: normal;
line-height: 1.5;
padding: 1vh}

.ser .s0 {
	width: 100%;

background: rgba(6, 12, 17,0.9);
padding: 2vh 1vh;
border: 0.3vh solid transparent}


.ser .s2 div img{
	width: 100%;height: 40vh;
	margin-top: 1vh }

.ser .s2 div p{
font-size:2.8vh;
text-align: left;
width: 100%;  
font-family: TraditionSansXLight;
color: #ecf0f1	; 
font-style: normal;
line-height: 1.5;
padding: 1vh 2vh}

.ser .s3{
background: rgba(6, 12, 17,0.9)	;}


.ser .s3 ul{padding: 1vh}

.ser .s3  li{
font-size:2.7vh;
text-align: left;
width: 100%;  
font-family: TraditionSansXLight;
color: #ecf0f1; 
font-style: normal;
padding: 1vh;
list-style: none;}

.coon{width: 90%;margin: 3vh auto}

.contmary{  display: grid; 
			grid-template-columns: repeat(3,1fr);
			grid-gap: 3vh;
			width: 90%;
			margin: 4vh auto}

.contalfa{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;}

.contalfa figure{position: relative;
	height: 30vh;
	width: 95%;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 1px 7px 5px  rgba(0,0,0,0.5)
	;cursor: pointer;}

.contalfa figure img{ width: 100%; 
		height: 30vh;
		 transition: all 500ms ease-out}

.contalfa figure .capa2{position: absolute;
	top: 0; width: 100%;
	height: 30vh;
	background: rgba(64, 73, 87,0.9);
	opacity: 0;
	visibility: hidden;
	text-align: center;
  border: 0.1vh solid black;}

.contalfa figure:hover > .capa2{opacity: 1;
	visibility: visible; 
width: 100%;
transition: all 3s ease ; 
		}

.contalfa figure:hover > .capa2 h4{
		margin: 1.5vh 0vh;
		padding: 0; 
		font-family: TraditionSansXLight ;
		transition: all 1.5s ease ; 
		color: #fff;
		font-size:3.5vh;
		width: 100%;
		text-align: center;}


.contalfa figure:hover > .capa2 p{margin:0px auto; 
	padding: 0px;
font-size:2.8vh;
transition: all 700ms ease ;color: #fff;
font-family: TraditionSansXLight ;width: 95%;
transition: all 1.5s ease }

.container-form {
background-image: url(../img/fondo2.png);
background-size: 100% 100%;
background-repeat: no-repeat;
width: 100%;
padding: 5vh 0px;
margin: 0px auto;
margin-top: 10vh;}

.containerpx{width: 80%;
display: grid; 
grid-template-columns: repeat(2,1fr);
grid-gap: 20px;
margin: 0px auto;}

.container-form h2 {
margin: 5px 0px;
font-size: 3.5vh;
color:#ffff ;
font-family: monospace;}		

.info-form p{
width: 100%; 
font-size: 3vh;
line-height: 1.5; 
margin: 5px 0px ;  
color:#ffff;	
padding: 10px 0px ;
font-family: TraditionSansXLight  ;
text-align: left;
font-style: normal;}

.container-form a {
	font-family: TraditionSansXLight ;
	font-size: 3vh;
	display: inline-block;
	text-decoration: none;
	width:80%;
	margin-bottom: 2.5vh;
	 color:#ffff;
	font-weight: 600px;
border-bottom: 0.1vh solid transparent;
padding: 0px 1vh}

.container-form a i {
color:rgb(90, 166, 113);
font-size: 4vh;}

.container-form a:hover{color:rgb(90, 166, 113);
font-size: 3.3vh} 


form{ 
border: 0.6vh solid rgb(60, 166, 113);
	;width: 90%;
border-radius: 10px;
padding: 2vh 1vh ;}

.container-form form .campo
{background:none;
display: block;
margin: 2.5vh 10px;
width:40vw; 
padding: 2vh 10px;
font-size: 3vh;
border: 0;
border-bottom : 0.3vh solid rgb(60, 166, 113);	
outline: 0px;
outline:none; border: 2;
cursor: pointer;
color: white;
width: 90%;
font-family: TraditionSansXLight }

.container-form form .campo::placeholder {
color: white;
font-size: 3vh;
background: none;
font-family: TraditionSansXLight }

.select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;}

.select::-ms-expand {
    display: none;}	

.select{
	display: inline-block;
	cursor: pointer;
  	outline: 0; 
  	color: white;
	font-size: 2.8vh;
	 font-family: TraditionSansXLight; 
    transition: all 0.25s ease;
    outline:none;
	border: 0;
	border-bottom : 0.3vh solid rgb(60, 166, 113);
	background:  none;
	margin: 2.5vh 10px;
	width:90%; 	
	padding: 2vh 10px;}

.select option{background:rgba(09,12,20,0.8);}

.container-form .btn-enviar
{display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
padding: 0.5vh 1vh;
font-size:3vh;
border: none;
outline: 0px;
background:rgba(13, 83, 98,0.1);
color:white;
border: 0.3vh solid rgb(15, 161, 156);
cursor: pointer;
transition: all 400ms ease;
 font-family: TraditionSansXLight;
margin-top: 2vh}

.container-form .btn-enviar:hover {
border: 0.3vh solid rgb(60, 166, 113);
background: rgb(15, 121, 136);
}

.piedepag .grupo1{
	width: 100%;
	margin: auto;
	grid-gap: 5px;
	padding: 10px 0px }

.box{ display: flex;
align-items: center;
justify-content: center;
margin: 0 auto ;
text-align: center; padding-top: 2vh}

.red-social ul{position: relative;
	display: flex;}

.red-social ul li{position: relative;
	list-style: none;
	margin: 0vh 2vh;
	cursor: pointer;display: flex; 
	justify-content: center;
	align-items: center;}

.red-social  ul li a {text-decoration: none;}

.red-social  ul li a .fa 
{font-size: 6vh;
color: white;}

.red-social  ul li a::before{
	font-family: fontAwesome;
	position: absolute;
	top:-4;
	left: 2;
	font-size:6vh;
	height: 0;
	overflow: hidden;
	transition: 0.9s ease-in-out; }

 .red-social ul li:nth-child(1) a::before{
		content: "\f16d";
		background: radial-gradient(
			circle at 30% 100%,
		 #fdf497 0%, #fdf497 5%, 
		 #fd5949 45%, #d6249f 60%, #285AEB 100%);
	  -webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
		border-bottom: 0.2vh solid #b82bb8;
		font-style: normal;}

.red-social ul li:nth-child(2) a::before{
	content: "\f099";
color: #1DA1F2;
	border-bottom: 0.2vh  solid #1DA1F2;font-style: normal}

.red-social ul li:nth-child(3) a::before{ content: "\f09a";
color: #1DA1F2;
	border-bottom: 0.2vh  solid #1DA1F2;
font-style: normal}

.red-social  ul li:hover a::before{height: 100%}

.sercv img{ width: 20vw; 
	display: flex;
margin: 0 auto;
justify-content: center;
align-items: center;}

.sercv img:hover { transform: scale(1.2); }

 .grupo2{background-color:rgb(1, 13, 15);
 	text-align: center; color: #ffff
	;font-family: 'Ubuntu Condensed', sans-serif;
padding: 4vh 0vh}

 .grupo2 small{
 	font-size: 2.8vh ;
	font-family: TraditionSansXLight}
	
	 .grupo2 p{
 	font-size: 2.8vh; 
 	font-family: TraditionSansXLight;
 	width: 60%;
 	text-align: center;
 	align-items: center;
 	margin: 0 auto;}
/*Para monitor grande de mas de 1800px*/
@media screen and (min-width: 1800px) and (max-width: 4990px)
{	
body{width: 1800px;
margin: 0  auto}


.conten nav {
position: absolute; 
right: 3vh;}

.saludo img{width:40%;
height: 20vh;}

.bienvenido{ max-width: 60%;
  margin: 10vh auto;
box-shadow: 1vh 1vh 2vh 2vh black;
  padding: 3vh 5vh }


.bienvenido p { color: #fff; padding: 3vh 0%; 
		text-align: center;
		justify-content: center; 
		line-height: 1.4;
		 font-size: 3vh ;
		 width: 90%;
		 font-family: TraditionSansXLight
		 ;display: flex;
		margin: 2vh auto;
		align-items: center;
		justify-content: center;  }		





.pag-web{display:grid;
	grid-template-columns: repeat(2	,1fr);
width:100%;
margin: 0% auto;
background: rgba(6, 12, 17,0.7);
padding: 8vh 6vh}

.divido{
display: grid;
grid-template-columns: repeat(2,1fr);		
background-size: 100% 100%;
background-position: center;
padding: 5vh;
width: 95%}

.proyectos p{  
font-family: TraditionSansXLight;
color: #ecf0f1; font-size: 3.1vh; 
padding: 2vh 0px;
margin: 0  auto;
text-align: center;
width: 75%}

.info-form p{
width: 100%; 
font-size: 2.8vh;
line-height: 1.5; 
margin: 5px 0px ;  
color:#ffff;	
padding: 10px 0px ;
font-family: TraditionSansXLight  ;
text-align: left;
font-style: normal;}

.trabajos{display: grid;
	grid-template-columns: repeat(2,1fr); 
	width: 70%;  justify-content: center;
	align-items: center ;margin: 0px auto;
position: relative;
grid-gap: 1vh;
  padding-bottom: 4vh;}



.pro {width: 85%;  
border: 1px solid black;
background-image: linear-gradient(to top, #1b4125, #065644, #006a69, #007d91, #088fb8); 
border-radius: 2vh; 
margin: 4vh auto 	}

.pro p   { font-family: TraditionSansXLight; 
		line-height: 1.1; 
		padding: 1vh;
		font-size: 2.8vh;
		color: rgb(229, 245, 248);
		 margin: 0px auto;
		text-align: center;
		width: 100%}				
		
/* partes*/
.partesweb{display: grid;
grid-template-columns: repeat(3,1fr);
 width: 95%;margin: 3vh auto;
grid-gap: 2vh}
/* servicios*/
.ser{display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 1vh;
width: 100%;
margin: 0 auto;
height: 100%;
margin-top: 3vh}

.coon{width: 100%;margin: 1vh auto}=

.containerpx{width: 95%;
display: grid; 
grid-template-columns: repeat(2,1fr);
grid-gap: 20px;
margin: 0px auto;}
}


/*Para tableta*/
@media screen and (min-width: 550px) and (max-width: 1023px)
{	

header {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: center;
    background-size: 100% 100%;}

.conten nav ul{display: none;}
	
.conten nav img{
position: fixed;
top:1vh;
right: 2vh;
width:5%;
z-index: 2;
border-radius: 50%;
height: 7vh}    

.conten i {
font-size: 20px; 
color: white; 
cursor: pointer;}
 
 .cont-menu label{ 
position: absolute;  
font-size: 20px  }   

.container-menu{
height: 90vh;
width: 20%;}

.cont-menu  nav  a{ 
display: block; 
text-decoration: none;
font-family: 'Stick No Bills', sans-serif;
font-style: normal;
 font-size: 17px;
padding:1vh 2vh;
color: #c7c7c7c7; }

.saludo img{width: 30vw;
height: 23vh;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
position: relative;
margin-top: 35vh;}

/* bienvenida */

.bienvenido{ max-width: 65%; 
 margin: 10vh auto;
background-image: linear-gradient(to top, #1b4125,h #054737, #004c4a, #004f5a, #0b5268);
 box-shadow:1px 1px 1px 1px black;
padding: 3vh 0vh}

.bienvenido h3 { 
color:#dff4f7 ; 
margin-top: 2vh; 
font-family: 'Ubuntu Condensed', sans-serif;; 
font-style: oblique;
font-size: 25px;}

.bienvenido h5 { 
color: #2feab8;
font-family: 'Ubuntu Condensed', sans-serif;; 
font-style: italic;
font-size:20px;  
text-shadow: 1px 1px 6px black;
text-align: center;
padding: 1vh;} 

.bienvenido p { color: #fff; padding: 2vh 4vh; 
		text-align: center;
		justify-content: center; 
		line-height: 1.3;
		 font-size:15px ;
		 width: 90%;}		

#H5{ color: #24dff9 ; 
		font-size: 25px; 
		 text-shadow: 10px 6px 10px black;
		letter-spacing: 1px;
		width: 90%}

#H4{ color: #24dff9 ; 
		font-size: 18px; }

/*web*/
.pag-web{display:grid;
grid-template-columns: repeat(2,1fr);
width:100%;
margin: 0% auto;
background: rgba(6, 12, 17,0.7);
padding: 8vh 7vh}

.web{width: 90%;
margin: 0 auto;}


.web p { color: #f7f1e3;  
	justify-content ; 
	font-size:15px ;
	 font-family: TraditionSansXLight;
	line-height: 1.5;
width: 100%;
margin: 4vh 0vh;}

.web #car { color: #f7f1e3;  
	justify-content ; 
	font-size:14px ;
	 font-family: TraditionSansXLight;
	line-height: 1.;
width: 100%;
right: 0px;
text-decoration: none;
margin-top: 3vh}

.web #car:hover{font-size: 14px}

.pag-web .img{  
position: relative;
background:  url(../img/foo.png); ;
background-size: 35vw 40vh;
background-repeat: no-repeat;
align-items: center;
justify-content: center;
margin: 0 auto;
margin-top:4vh ;}

.pag-web .img img {  
justify-content ; 
text-align: center;
border-radius: 5px;
margin: 0 auto;
width: 35vw;
;height: 45vh;}

.divido{
display: grid;
grid-template-columns: repeat(1,1fr);		
background: url(../img/banner.jpg);
background-size: cover;
background-position: center;
padding:  5vh;
margin: 8vh auto; 
border-radius: 20px;
width: 70%}

.divido .parte1 {width: 100%}

.divido article h5 { color: #fff;
 	 font-size: 18px ;  
font-family: 'Stick No Bills', sans-serif ;
;letter-spacing: 2px}

.divido article p { 
color: #fff; 
padding: 6px 1%;
line-height: 1.5;
font-size: 15px;}

.divido article li { 
color: #fff;
padding: 6px 1%;
justify-content line-height: 1;
font-size: 15px; 
font-family: TraditionSansXLight;
line-height: 1 }

.partesweb{display: grid;
grid-template-columns: repeat(3,1fr);
 width: 7	5%;margin: 1vh auto;
grid-gap: 2vh}

.parte figure img{ width: 95% ;
 height: 25vh; 
 padding: 1%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto; }		

.parte h5 {  	 
	  	padding-top: 2vh;
		 font-size:18px ; 
		font-family: TraditionSansXLight;}

.parte p { font-size:13px; 
color: #ffff;
	color: #fff; 
	font-family: TraditionSansXLight;
	padding: 2vh 1vh	}

.parte{  cursor:pointer;}	

.parte:hover{box-shadow: 4px 2px 5px black;
		transform: translateY(-7%);
		transition: all 1s ease-out}

/*web*/
.trabajos{display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 3vh; 
	width: 55%;  justify-content: center;
	align-items: center ;margin: 0px auto;
position: relative;}

.proyectos p{  
font-family: TraditionSansXLight;
color: #ecf0f1; font-size: 15px; 
padding: 2vh;
margin: 2vh  auto;
text-align: center;
width: 70%}

.pro {
width: 100%;  
border: 1px solid black;
background-image: linear-gradient(to top, #1b4125, #065644, #006a69, #007d91, #088fb8); 
border-radius: 5%; 
margin: 3vh auto 	}

.pro img{width: 100%; height: 25vh;
margin: 0 auto;
justify-content: center;
align-items: center;
border-radius: 10%;display: flex; }

.pro h3 { font-family: 'Stick No Bills', sans-serif;
		 margin: 2px ;
		color:rgb(229, 245, 248); 
		font-size: 18px;}

.pro p   { font-family: TraditionSansXLight; 
		line-height: 1.2; 
		padding: 1vh 0.5vh;
		font-size:13px;
		color: rgb(229, 245, 248);
		 margin: 0px auto;
		text-align: center;
		width: 100%}				

.pro button{font-family: TraditionSansXLight; 
			padding: 1px;
			color: rgb(29, 43, 131);
			margin: 1vh auto;
			text-align: center;
			background: rgba(24, 25, 33,0.5);
			border-radius: 5px ;
			border: none;
			display: flex;
			background:	#191919}

.pro a { font-family: 'Stick No Bills', sans-serif; 
		line-height: 1; 
		padding: 1px;
		font-size:15px;
		color:#cccccc;;
		 text-decoration:none;
		;margin: 5px 10px; }

.pro:hover{ box-shadow:1px 1px 10px 5px rgba(27, 151, 164,0.5)
	; 	cursor: pointer;
			transition: all 400ms ease;
			 transform: translateX(2vh);}

.pro a:hover{  color:#cccccc;}

.pro button:hover{
background:	#191919
	;transition: all 400ms ease }
	
/*servicio*/

#servicio{background: rgba(25, 27, 31,0.5);
padding: 4vh 2vh; }

.ser{display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap: 1vh;
width: 65%;
margin: 4vh auto;
height: 100%}

.ser .s1 div{
width: 100%;}


.ser .s1 div img{
	width: 100%;
height: 100%;
background: rgb(6, 12, 17);
height: 35vh}

.ser .s0 h5{
font-size:16px;
text-align: center;
padding-top: 2vh; }

.ser .s1 div p{
font-size:14px;
text-align: left;
  width: 98%;}

.ser .s0 {
width: 100%;
background: rgba(6, 12, 17,0.6);
padding: 2vh 1vh}

.ser .s2 div img{
	width: 100%;height: 30vh;
	margin-top: 1vh }

.ser .s2 div p{
font-size:14px;
text-align: left;
width: 98%;}

.ser .s3{
background: rgba(6, 12, 17,0.6)	;
width: 200%}

.ser .s3 h5{padding-bottom:1vh}


.ser .s3 ul{padding: 2vh 0vh}

.ser .s3  li{
font-size:14px;
text-align: left;
width: 80%; 
margin:0 auto}

/*conocimiento*/
.coon{width: 60%;margin: 1vh auto}

.contmary{ 	; display: grid; 
			grid-template-columns: repeat(2,1fr);
			width: 75%;
			margin: 1vh auto;
			grid-gap: 1vh	}

.coon p{width: 100%}

.contalfa{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35vh; ;
margin: 2vh auto}

.contalfa figure{position: relative;
	height: 35vh;
	width: 90%;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 1px 7px 5px  rgba(0,0,0,0.5)
	;cursor: pointer;}

.contalfa figure img{ width: 100%; 
		height: 35vh;
		 transition: all 500ms ease-out}

.contalfa figure .capa2{position: absolute;
	top: 0; width: 100%;
	height: 35vh;
	background: rgba(64, 73, 87,0.9);
	opacity: 0;
	visibility: hidden;
	text-align: center;}

.contalfa figure:hover > .capa2{opacity: 1;
	visibility: visible; 
width: 100%;
transition: all 2s ease ; 
		}

.contalfa figure:hover > .capa2 h4{
		font-size:4.5vh;}

.contalfa figure:hover > .capa2 p{font-size:3.3vh;}

/*FORM*/

.container-form {
background-image: url(../img/fondo2.png);
;background-size: 100% 100%;
background-repeat: no-repeat;
width: 100%;
padding: 5vh 0px;
margin: 0px auto;
margin-top: 7vh;}

.containerpx{width: 60%;
display: grid; 
grid-template-columns: repeat(1,1fr);
grid-gap: 20px;
margin: 0px auto;}

.container-form h2 {
margin: 5px 0px;
font-size: 18px;}		

.container-form p{
width: 100%; font-size: 15px;
text-align: left;}

.container-form a {
	font-family: TraditionSansXLight ;
	font-size: 15px;
	display: inline-block;
	text-decoration: none;
	width:80%;}

.container-form a:hover {
color:rgba(248, 237, 248,0.8);
border-bottom: 0.1vh solid white}

.container-form a i {
color: rgb(15, 161, 156);
font-size: 20px}

.container-form a i:hover {
color:#27c3c1;}


form{ 
border: 0.5vh solid rgb(15, 161, 156);
	;width: 100%;
border-radius: 10px;
padding: 2vh 1vh ;
margin: 0 auto}

.container-form form .campo
{background:none;
display: block;
margin: 2.5vh 10px;
width:40vw; 
padding: 2vh 10px;
font-size:15px;
border: 0;
border-bottom : 0.3vh solid rgb(15, 161, 156);	
outline: 0px;
outline:none; border: 2;
cursor: pointer;
color: white;
width: 90%}

.container-form form .campo::placeholder {
color: white;
font-size: 15px;
background: none;
font-family: TraditionSansXLight }

.select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;}

.select::-ms-expand {
    display: none;}	

.select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	outline: 0; 
  	border: 0;
	color: white;
	font-size:15px;
	 font-family: TraditionSansXLight; 
    transition: all 0.25s ease;
    outline:none;
	border: 0;
	border-bottom : 0.3vh solid rgb(15, 161, 156);
	background:  none;
	width:20vw;
	width: 90%;
	margin: 2.5vh 10px;}

.select option{background:rgba(09,12,20,0.8);}

.container-form .btn-enviar
{display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
padding: 1vh 2vh;
border: none;
outline: 0px;
color:white;
border: 0.3vh solid rgb(15, 161, 156);
cursor: pointer;
transition: all 400ms ease;
 font-family: TraditionSansXLight;
font-size:15px;}

.container-form .btn-enviar:hover {
border: 0.3vh solid rgb(15, 161, 200);
background: rgb(19, 43, 46)}

.piedepag{width: 100%;
background-color: rgb(5, 30, 54)}

.piedepag img {width: 50vw ;height: 25vh;
margin: 0 auto}	

.piedepag .grupo1{
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 5px;
	padding: 10px 0px }

.box img{ width: 30%;
	 margin: 4px auto;
	border-radius: 50px;
	border: 1px solid black;
	height: 20vh;
	filter: invert(50%);
	display: flex;
	 }

.piedepag .grupo1 .box h2{
	color: white;
	margin: 2vh 1vh;
	font-size:23px; 
	 display: flex; align-items: center;
justify-content: center;
text-align: center;letter-spacing: 2pxx}

.piedepag .grupo1 .box p{
	display: flex;
	margin: 10 auto;
	align-items: center;
	justify-content: center;
	color:white;
	margin-bottom: 2vh;
	font-size:15px;
	font-family: TraditionSansXLight;
	text-align: center;
width: 80%;
font-style:normal;}

.red-social{display: block; justify-content: center;
align-items: center; margin: 0 auto;
margin-top: 2vh}


.red-social ul{position: relative;
	display: flex;}

.red-social ul li{position: relative;
	list-style: none;
	margin: 1vh 2vh;
	cursor: pointer;display: flex; 
	justify-content: center;
	align-items: center;}

.red-social  ul li a {text-decoration: none;}

.red-social  ul li a .fa 
{font-size: 30px;
color: white;
text-decoration: none;}

.red-social  ul li a::before{
	font-family: fontAwesome;
	position: absolute;
	top:-4;
	left: 2;
	font-size: 30px;
	height: 0;
	overflow: hidden;
	transition: 0.9s ease-in-out; }

 .red-social ul li:nth-child(1) a::before{
		content: "\f16d";
		background: radial-gradient(
			circle at 30% 100%,
		 #fdf497 0%, #fdf497 5%, 
		 #fd5949 45%, #d6249f 60%, #285AEB 100%);
	  -webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
		border-bottom: 0.2vh solid #b82bb8;
		font-style: normal;}
 
.red-social ul li:nth-child(2) a::before{
	content: "\f099";
color: #1DA1F2;
	border-bottom: 0.2vh  solid #1DA1F2;font-style: normal}

.red-social ul li:nth-child(3) a::before{ content: "\f09a";
color: #1DA1F2;
	border-bottom: 0.2vh  solid #1DA1F2;
font-style: normal}

.red-social  ul li:hover a::before{height: 100%}

 .grupo2{background-color:rgb(1, 13, 15);
 	padding: 1vh;
 	text-align: center; color: #ffff
	;font-family: 'Ubuntu Condensed', sans-serif;}

 .grupo2 small{
 	font-size: 15px ;
	font-family: TraditionSansXLight}
	
	 .grupo2 p{
 	font-size: 13px ; 
 	font-family: TraditionSansXLight;
 	width: 60%;
 	text-align: center;
 	align-items: center;
 	margin: 0 auto;}
}


/*Para Telefono*/
@media screen and (max-width: 549px)
{	
header {background:  url(../img/fondo.jpg); 
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: center;
    background-size: 100% 100%;}

.conten nav ul{display: none;}
	
.conten nav img{
position: fixed;
top:1vh;
right: 2vh;
width:10%;
z-index: 2;
height: 6.5vh
; border-radius: 50%;
padding: 0.2vh;
background: rgba(21, 23, 23,0.5)}

.conten i {
font-size: 23px; 
color: white; 
cursor: pointer;}
 
 .cont-menu label{ position: absolute;  
font-size: 25px  }   


.container-menu{
height: 90vh;
width: 50%;}


.cont-menu  nav  a{ 
display: block; 
text-decoration: none;
font-family: 'Stick No Bills', sans-serif;
font-style: normal;
 font-size: 20px;
padding:1vh 2vh;
color: #c7c7c7c7; }

.saludo img{width: 60vw;
height: 15vh;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
position: relative;
margin-top: 40vh;}

/* bienvenida */
.bienvenido{ max-width: 90%; 
 margin: 1vh auto;
 border: 1px solid rgb(27, 68, 81);
background-image: linear-gradient(to top, #1b4125, #054737, #004c4a, #004f5a, #0b5268);
 margin-top:5vh; margin-bottom: 5vh;
box-shadow: 1px 1px 1px 3px rgba(28, 30, 44,0.5)
  padding: 0vh;}

.bienvenido h3 { 
color:#dff4f7 ; 
margin-top: 0vh; 
font-family: 'Ubuntu Condensed', sans-serif;
font-style: oblique;
font-size: 25px;}

.bienvenido h5 { 
color: #2feab8;
font-size:22px;  
text-shadow: 1px 1px 6px black;
margin: 1vh 2vh; 
text-align: center;
font-family: 'Ubuntu Condensed', sans-serif;	} 

.bienvenido p { color: #fff;
padding: 0.5vh;
		text-align: center;
		justify-content: center; 
		line-height: 1.2;
		 font-size:16px ;
		 width: 100%;}		

#H5{ color: #24dff9 ; 
		font-size: 28px; 
		 text-shadow: 10px 6px 10px black;
		font-family: 'Stick No Bills', sans-serif;
		margin-bottom: 1vh;
		margin-top: 3vh;
		letter-spacing: 1px;
		width: 80%}

#H4{ font-family: 'Stick No Bills', sans-serif;
		font-weight: 500; 
		 color: #24dff9 ; 
		font-size: 20px; 
		 text-shadow: 10px 6px 10px black;
		text-align:left;
		 margin: 0 auto;
		margin-bottom: 2vh;
		margin-top: 3vh;
		letter-spacing: 1px;}
		
		

/*web*/
.pag-web{display:grid;
	grid-template-columns: repeat(1	,1fr);
width:100%;
margin: 0% auto;
background: rgba(6, 12, 17,0.7);
padding: 3vh 2vh}

.web{width: 95%;
margin: 0 auto;}

#H4{ font-family: 'Stick No Bills', sans-serif;
		font-weight: 500; 
		 color: #24dff9 ; 
		font-size: 23px; 
		 text-shadow: 10px 6px 10px black;
		text-align:left;
		 margin: 0 auto;
		margin-bottom: 1vh;
		margin-top: 2vh;
		letter-spacing: 1px;
		padding: 2vh 0.5}

.web p { color: #f7f1e3;  
	justify-content ; 
	font-size:16px ;
	 font-family: TraditionSansXLight;
	line-height: 1.2;
width: 100%;
margin: 2vh auto;
padding: 1vh 0px}


.web #car { color: #f7f1e3;  
	justify-content ; 
	font-size:14px ;
	 font-family: TraditionSansXLight;
	line-height: 12px;
width: 100%;
right: 0px;
padding:1vh;
background: rgb(44, 46, 49);
border: 1px solid black;
text-decoration: none;
background-image: linear-gradient(to top, #1b4125, #054737, #004c4a, #004f5a, #0b5268);
}

.pag-web .img{  
position: relative;
background:  url(../img/foo.png); ;
background-size: 90% 20vh;
background-repeat: no-repeat;
margin-top:4vh }


.pag-web .img img {  
justify-content ; 
text-align: center;
border-radius: 5px;
margin: 0 auto;
width: 85%;
;height: 23vh;
display: flex;}

.divido{display: grid;
grid-template-columns: repeat(1,1fr);		
background: url(../img/banner.jpg);
background-size: cover;
background-position: center;
padding: 3vh ;
margin: 40px 5%; 
border-radius: 20px;
width: 90%}

.divido .parte1 {width: 100%}

.divido article h5 { color: #fff;
 	 font-size: 18px ;  
font-family: 'Stick No Bills', sans-serif ;
;letter-spacing: 2px;
padding: 1vh
}

.divido article p { 
color: #fff; 
padding: 1vh;
line-height: 1.4;
font-size: 17px;}

.divido article li { 
color: #fff;
padding: 6px 1%;
justify-content line-height: 1;
font-size: 17px; 
font-family: TraditionSansXLight;
line-height: 1 }

.partesweb{display: grid;
grid-template-columns: repeat(1,1fr);
 width: 80%;margin: 3vh auto;
grid-gap: 0vh}

.parte{
 border: 0.4vh solid rgb(27, 68, 81);
  margin: 2vh 0vh;
}
 
.parte figure img{ width: 100% ;
 height: 20vh; 
 padding: 1%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto; }
 
.parte h5 {  	 
	  	padding-top: 2vh;
		 font-size:20px ; 
	border-bottom: 0.3vh solid  #004F79; 
		 }

.parte p { font-size:16px; 
color: #ffff;
	  	color: #fff; 
	font-family: TraditionSansXLight;
	padding: 1vh 2vh;	}

.parte{  cursor:pointer;}	

.parte:hover{box-shadow: 4px 10px 5px black;
		transform: translateY(-5%);
		transition: all 1.5s ease-out}

/*web*/

.trabajos{display: grid;
	grid-template-columns: repeat(1,1fr); 
	width: 80%;  justify-content: center;
	align-items: center ;margin: 0px auto;
position: relative;}

.proyectos p{  
font-family: TraditionSansXLight;
color: #ecf0f1; font-size: 16px; 
padding: 1vh 0px;
margin: 0  auto;
text-align: center;
width: 90%}

.pro {
width: 100%;  
border: 1px solid black;
background-image: linear-gradient(to top, #1b4125, #065644, #006a69, #007d91, #088fb8); 
border-radius: 5%; 
margin: 1.5vh auto 	}

.pro img{width:100%; height: 18vh;
margin: 0 auto;
justify-content: center;
align-items: center;
border-radius: 5% ;
display: flex;}

.pro h3 { font-family: 'Stick No Bills', sans-serif;
		 margin: 2px ;
		color:rgb(229, 245, 248); 
		font-size: 23px;}

.pro p   { font-family: TraditionSansXLight; 
		line-height: 1.1; 
		padding: 1vh 2vh;
		font-size:17px
		color: rgb(229, 245, 248);
		 margin: 0px auto;
		text-align: center;
		width: 100%}				

.pro button{font-family: TraditionSansXLight; 
			padding: 1px;
			color: rgb(29, 43, 131);
			margin: 1vh auto;
			text-align: center;
			background: rgba(24, 25, 33,0.5);
			border-radius: 5px ;
			border: none;
			display: flex;
			background:	#191919}

.pro a { font-family: 'Stick No Bills', sans-serif; 
		line-height: 1.2; 
		padding: 1px;
		font-size:20px;
		color:#cccccc;;
		 text-decoration:none;
		;margin: 5px 10px; }

.pro:hover{ box-shadow:1px 1px 10px 5px rgba(27, 151, 164,0.5); 	cursor: pointer;
transition: all 400ms ease;
transform: translateX(10px); ;}

.pro a:hover{  color:#cccccc;}

.pro button:hover{
background:	#191919
	;transition: all 400ms ease }

.otros{
padding: 10px 0px;
width: 95%;	}

.otros p{ text-align: center; margin: 2vh;
font-size: 18px; 
width:90%;
margin: 2vh auto}

.otros div{display: grid;
 grid-template-columns: repeat(2,1fr);
	width: 80%;
	margin: 5px auto;}				
			
.otros div a{ text-decoration: none;	
 font-family: 'Stick No Bills', sans-serif;
 ;font-size:20px;
	color: #ffff;
	margin: 10px 20px}

.otros div  a:hover{ ;color:rgba(100, 200, 78,0.7) }


/*servicio*/

#servicio{background: rgba(25, 27, 31,0.5);
padding: 2vh; }

.ser{display: grid;
grid-template-columns: repeat(1,1fr);
grid-gap: 1.5vh;
width: 90%;
margin: 3vh auto;
height: 100%}

.ser .s1 div{
width: 100%;}


.ser .s1 div img{
	width: 100%;
height: 100%;
background: rgb(6, 12, 17);
height: 25vh}

.ser .s0 h5{
font-size:21px;
text-align: center;
padding: 1vh; }

.ser .s1 div p{
font-size:18px;
text-align: left;}

.ser .s0 {
width: 100%;
background: rgba(6, 12, 17,0.6);
padding: 2vh 0.5vh}


.ser .s2 div img{   
	width: 100%;height: 28vh;
	margin-top: 1vh }

.ser .s2 div p{
font-size:18px;
text-align: left;
width: 100%;}

.ser .s3{
background: rgba(6, 12, 17,0.6)	}

.ser .s3  li{
font-size:18px;
text-align: left;
width: 95%;  }

/*conocimiento*/
.coon{width: 90%;margin: 1vh auto}

.contmary{ 	; display: grid; 
			grid-template-columns: repeat(1,1fr);
			width: 85%;
			margin: 2vh auto;
			grid-gap: 2vh	}

.coon p{width: 100%;
font-size:16px}

.contalfa{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25vh;
	margin:1vh 0vh}

.contalfa figure{position: relative;
	height: 25vh;
	width: 95%;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 1px 7px 5px  rgba(0,0,0,0.5)
	;cursor: pointer;}

.contalfa figure img{ width: 100%; 
		height: 25vh;
		 transition: all 500ms ease-out}

.contalfa figure .capa2{position: absolute;
	top: 0; width: 100%;
	height: 25vh;
	background: rgba(64, 73, 87,0.9);
	opacity: 0;
	visibility: hidden;
	text-align: center;}

.contalfa figure:hover > .capa2{opacity: 1;
	visibility: visible; 
width: 100%;
transition: all 2s ease ; 
.
		}

.contalfa figure:hover > .capa2 h4{
		font-size:3vh;
		margin: 0.5vh 0vh;
		}

.contalfa figure:hover > .capa2 p{font-size:2.6vh;}


/*FORM*/
.container-form {
background-image: url(../img/fondo2.png);
background-size: 100% 100%;
background-repeat: no-repeat;
border-radius: 0%;
width: 100%;
padding: 5vh 0px;
margin: 0px auto;
margin-top:5vh;}

.containerpx{width: 85%;
display: grid; 
grid-template-columns: repeat(1,1fr);
grid-gap: 20px;
margin: 0px auto;}

.container-form h2 {
margin: 5px 0px;
font-size: 19px;}		

.container-form p{
width: 100%; font-size: 16px;
text-align: left;}

.container-form a {
	font-family: TraditionSansXLight ;
	font-size: 19px;
	display: inline-block;
	text-decoration: none;
	width:80%;}

.container-form a:hover {
color:rgba(248, 237, 248,0.8);
border-bottom: 0.1vh solid white
}


.container-form a i {
color: rgb(15, 161, 156);
font-size: 25px}

.container-form a i:hover {
color:#27c3c1;}


form{ 
border: 0.3vh solid rgb(15, 161, 156);
	;width: 100%;
border-radius: 5%;
padding: 1vh ;
margin: 0 auto}

.container-form form .campo
{background:none;
display: block;
margin: 2.5vh 10px;
width:40vw; 
padding: 2vh 10px;
font-size:18px;
border: 0;
border-bottom : 0.1vh solid rgb(15, 161, 156);	
outline: 0px;
outline:none; border: 2;
cursor: pointer;
color: white;
width: 90%}

.container-form form .campo::placeholder {
color: white;
font-size: 19px;
background: none;
font-family: TraditionSansXLight }

.select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;}

.select::-ms-expand {
    display: none;}	

.select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	outline: 0; 
  	border: 0;
	color: white;
	font-size:19px;
	 font-family: TraditionSansXLight; 
    transition: all 0.25s ease;
    outline:none;
	border: 0;
	border-bottom : 0.3vh solid rgb(15, 161, 156);
	background:  none;
	width:20vw;
	width: 90%;
	margin: 2.5vh 10px;}

.select option{background:rgba(09,12,20,0.8);}

.container-form .btn-enviar
{display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
padding: 1vh ;
border: none;
outline: 0px;
color:white;
border: 0.3vh solid rgb(15, 161, 156);
cursor: pointer;
transition: all 400ms ease;
 font-family: TraditionSansXLight;
font-size:18px;}

.container-form .btn-enviar:hover {
border: 0.3vh solid rgb(15, 161, 200);
background: rgb(19, 43, 46)}


.red-social{display: block; justify-content: center;
align-items: center; margin: 0 auto;
margin-top: 2vh}


.red-social ul{position: relative;
	display: flex;
margin-top: 2vh}

.red-social ul li{position: relative;
	list-style: none;
	margin: 0vh 2vh;
	cursor: pointer;display: flex; 
	justify-content: center;
	align-items: center;}

.red-social  ul li a {text-decoration: none;}

.red-social  ul li a .fa 
{font-size: 35px;
color: white;}

.red-social  ul li a::before{
	font-family: fontAwesome;
	position: absolute;
	top:-4;
	left: 2;
	font-size: 35px;
	height: 0;
	overflow: hidden;
	transition: 0.9s ease-in-out; }

 .red-social ul li:nth-child(1) a::before{
		content: "\f16d";
		background: radial-gradient(
			circle at 30% 100%,
		 #fdf497 0%, #fdf497 5%, 
		 #fd5949 45%, #d6249f 60%, #285AEB 100%);
	  -webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
		border-bottom: 0.2vh solid #b82bb8;
		font-style: normal;}

.red-social ul li:nth-child(2) a::before{
	content: "\f099";
color: #1DA1F2;
	border-bottom: 0.2vh  solid #1DA1F2;font-style: normal}

.red-social ul li:nth-child(3) a::before{ content: "\f09a";
color: #1DA1F2;
	border-bottom: 0.2vh  solid #1DA1F2;
font-style: normal}

.red-social  ul li:hover a::before{height: 100%}



 .grupo2{background-color:rgb(1, 13, 15);
 	padding: 1vh;
 	text-align: center; color: #ffff
	;font-family: 'Ubuntu Condensed', sans-serif;
	}

 .grupo2 small{
 	font-size: 16px ;
	font-family: TraditionSansXLight }
	
	 .grupo2 p{
 	font-size: 16px ; 
 	font-family: TraditionSansXLight;
 	width: 95%;
 	text-align: center;
 	align-items: center;
 	margin: 0 auto;}
}

