*{margin: 0;
padding: 0;
box-sizing: border-box;}
/* El scroll */

html , body{ max-width: 100% !important;
	overflow-x: hidden !important;}

html::-webkit-scrollbar{
width: 1vw;
background-image: linear-gradient(to right top, #051937, #002c49, #003f58, #005361, #006666);;}


html::-webkit-scrollbar:hover{
width: 1vw;
background-image: linear-gradient(to right top, #051937, #002c49, #003f58, #005361, #006666);;
opacity: 1;
visibility: visible;}

html::-webkit-scrollbar-thumb{	
border-radius: 10px;
background: #0a0a0a;
box-shadow: 1px 2px 20px 20px rgba(0, 0, 0, 0.9);}

body{
margin: 0 auto;
background:#051937;}


/* Fonts */
@font-face{
font-family:TraditionSansXLight;
src:url(../fonts/HindMadurai-Regular.ttf)}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Raleway:ital,wght@1,300&family=Ubuntu+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?famirly=Stick+No+Bills&display=swap');


/* header */
header {
width: 100%;
height: 700px;
background:  url(../img/fondo.webp); 
background-color: rgba(0,0,0,0.6);
background-size: 100% 700px;
background-repeat: no-repeat;
position: relative;	
background-attachment: fixed;}

.what{position: fixed;
bottom: 55px;
left:0px;
color: white;
font-size: 40px;
z-index: 999;
background: green;
border-radius: 0px 30px 30px 0px;}

.what a i{padding: 10px 5px;
position:   absolute;
font-size:34px;
background: green;
z-index: 4;
border-radius: 0px 30px 30px 0px;
padding-right: 10px;}

.what a{color: white;
background: green;
text-decoration: none;}

.what a p{font-size: 18px; 
padding: 0px 30px;
padding-left: 45px;
left: -200px;
width: 0px;
position: absolute;;
border-radius: 0px 30px 30px 0px;
font-family: TraditionSansXLight;
display: flex;
align-items: center;}

.what a:hover > p{
opacity: 1;
visibility: visible;;
background: green;
transition:all 0.5s ease ;
width: 160px ;
left: 0px;
font-family: TraditionSansXLight;
height: 53px;}


.what2{position: fixed;
bottom: 115px;
left:0px;
color: white;
font-size: 40px;
z-index: 3;
border-radius: 0px 30px 30px 0px;
background-image: linear-gradient(to right top, #051937, #002c49, #003f58, #005361, #006666);}

.what2 a i{padding:10px 5px ;
position:   absolute;
font-size:35px;;
z-index: 4;
border-radius: 0px 30px 30px 0px;
padding-right: 20px;
background:#006666}

.what2 a{color: white;
background: green;text-decoration: none;
;}

.what2 a p{font-size: 18px; 
padding: 0px 30px;
padding-top:18px;
padding-left: 50px;
left: -200px;
height: 55px;
width: 0px;position: absolute;;
border-radius: 0px 30px 30px 0px;
		 font-family: TraditionSansXLight}

.what2 a:hover > p{
opacity: 1;
visibility: visible;;
background: green;
transition:all 0.5s ease ;
width: 120px ;
left: 0px;
font-family: TraditionSansXLight;
background:#006666}


.heade-a{max-width: 1700px ;
margin: 0 auto;}

.conten{ display: flex;}

.btn-men{max-width: 1800px;
margin: 0 auto;
display:grid;
grid-template-columns: repeat(2,1fr);
width: 100%;
background: rgba(0,0,0,0.7);
border-radius: 0px 0px 20px 20px;;
padding: 5px 0px}

.conten i {
font-size: 25px;
margin-left: 20px;
margin-top: 14px;
margin-right: 15px; 
margin-left: 20px  ; 
color: white; 
cursor: pointer;
padding: 10px;}


.conten i:hover {
color: #2feab8
;transition: all 1s ease;}

.conten nav {display: inline-flex;
justify-content: right;
align-items: right;}

.conten nav ul{margin-right: 5px;
margin-top: 20px}


.conten nav li{
display:inline-block;
text-decoration: none;
color: #ffff;
margin-right: 10px; ;}			

.conten nav  a {
text-decoration: none;
color: #ffff; 
font-family: 'Stick No Bills', sans-serif;
font-style: normal;
font-size: 23px;
letter-spacing: 0.1vh;
padding-bottom: 1px}

.conten nav ul li #inicio{  
cursor: pointer;
transition: all 1s ease;
color:#2feab8;}

.conten nav ul li a:hover{
border-bottom: 2px solid #2feab8;
transition: all 300ms ease-out;
cursor: pointer;
transition: all 2s ease;
color:#2feab8;}



.conten nav a img{
width:50px;
height: 40px
; border-radius: 50%;
background: rgba(21, 23, 23,0.5);
margin-top:13px;
margin-right: 30px;}


.conten nav a img:hover{box-shadow: 0px 0px 20px white}



#btn-men{position: relative;
display: none;}

.container-menu{
position: absolute;
background: rgba(0,0,0,0.9);
height:700px;
width: 300px;
top: -1400px;
transition: all 900ms ease;
opacity: 0;
visibility: hidden;
z-index: 1;
max-width: 1800px;
overflow: hidden;
z-index: 999}

#btn-men:checked ~ .container-menu{
opacity: 1;
visibility: visible;
transition: all 1.5s ease;
top:0%;

z-index: 999}


.cont-menu{ 
width: 100%;
height: auto;
position: relative;
z-index: 1;
max-width: 1800px ;
margin: 0 auto;
z-index: 999}

.cont-menu nav{margin-top: 70px}

.cont-menu  nav a{ 
	display: block; 
text-decoration: none;
font-family: 'Stick No Bills', sans-serif;
font-style: normal;
 font-size: 23px;
color: #c7c7c7c7;
padding:10px ;
}
			
.cont-menu nav a:hover{ 
background:rgba(28, 125, 155,0.4); 
color:#ffff  ;
transition: all 1.2s ease-out;}



.cont-menu nav .sociales{display: flex;;
align-items: center;
justify-content: center;
margin: 0px auto;
padding: 0px;}

.cont-menu  nav .sociales a{ 
	display: block; 
text-decoration: none;
font-family: 'Stick No Bills', sans-serif;
font-style: normal;
 font-size: 35px;
color: #c7c7c7c7;
border-radius: 50%;}


.cont-menu nav a:hover{ 
background:rgba(28, 125, 155,0.4); 
color:#ffff ;
transition: all .5s ease;}


.cont-menu  nav .sociales a:hover{
color:#2feab8;
background: transparent;
border-left:  solid black;
border-left: 0px solid black;}			

.cont-menu  nav a #inicio{  
cursor: pointer;
transition: all 1s ease;
background:rgba(28, 125, 155,0.4); 
color: red}

 .cont-menu label{ position: absolute; 
right: 10px;
color: #ffff; 
cursor: pointer; 
font-size:24px  ;
border: 1px solid transparent;
border-radius: 50%;
top: -55px;
transform: rotate(90deg);
padding: 4px 7px ;
border-left: 1px solid black;}      

.cont-menu label:hover {color:#2feab8;
	transition: all 2s ease;}

.saludo{
height:170px;
align-items: center;
justify-content: center;
margin: 0 auto;
position: relative;
margin-top: 300px;
padding: 2px;
width: 440px;
outline: 8px solid rgba(10,10,10,0.9);; 
border-radius: 5px;
border:6px ridge rgba(15, 127, 185,0.7);
background: rgba(10,10,10,0.9);
box-shadow: 0px 0px 100px rgba(15, 127, 185,1)}

.saludo h1{ font-family: 'Stick No Bills', sans-serif;
		font-weight: 500; 
		 text-shadow: 10px 6px 10px black;
		text-align:center;
		 margin: 0 auto;
		letter-spacing: 1px;
		width:100%;
		font-size: 55px; 
		padding-top:20px ;
		font-style: oblique;
	color:rgb(7, 204, 101);
text-shadow: 0px 0px 5px rgba(05, 107, 15,1)}


.saludo  h2 {color:rgb(255, 255, 211) ; 
font-family: 'Ubuntu Condensed', sans-serif;; 
font-size: 30px;
text-align: center; line-height: 1;
padding-top: 10px;
letter-spacing: 1px}		




/* bienvenida */

.bienvenido{ margin: 60px auto;
 border: 2px solid rgb(17, 18, 21);
background-image: linear-gradient(to top, #1b4125, #054737, #004c4a, #004f5a, #0b5268) ;
box-shadow: 4px 10px 10px 10px black;
  width: 100%;
max-width: 650px;
padding: 50px 0px}


.bienvenido h3 { 
color:#dff4f7 ; 
font-family: 'Ubuntu Condensed', sans-serif;; 
font-size:48px;
text-align: center;
text-shadow: 0px 0px 2px white;;
margin: 0px;}

.bienvenido h4 { 
color: #2feab8;
font-family: 'Ubuntu Condensed', sans-serif;; 
font-style: italic;
font-size:40px;  
text-shadow: 1px 1px 15px black;
text-align: center;
padding:10px 0px} 

.bienvenido p {font-size:20px;
color: white;
;width:78%;
font-family: TraditionSansXLight;
line-height: 1.3;
margin: 0px auto;
margin-top: 10px;
text-align: center;}		


#H5{font-size:43px;
color:rgb(13, 123, 65) ;
font-family: 'Stick No Bills', sans-serif;
text-shadow: 0px 5px 5px black;
letter-spacing: 3px;
color:rgb(90, 246, 113)
;display: flex;justify-content: center;
align-items: center;;
margin: 0 auto;
text-align: center;
text-shadow: 0px 0px 2px rgba(15, 127, 105,0.7);
max-width:600px ;
margin: 0 auto}



/* web */
.pag-web{
background: rgba(0,0,0,0.7);}

.pag-web-a{display:grid;
	grid-template-columns: repeat(2	,1fr);
width:100%;
margin: 0% auto;
padding: 70px 10px;
max-width: 1100px}

.web{width: 90%;
margin: 0 auto;
max-width: 1200px}


.web  h4{font-size:35px;
color: #24dff9 ;
font-family: 'Stick No Bills', sans-serif;
text-shadow: 0px 5px 5px black;
letter-spacing:2px;
margin-top:20px;
color:rgb(7, 184, 101);
text-shadow: 0px 0px 2px rgba(15, 127, 185,0.7)}



.web p {font-size:20px;
color: white;
;width:100%;
font-family: TraditionSansXLight;
line-height: 1.3;
margin-top: 15px;
max-width: 600px;
text-align: left;
margin-bottom: 30px}		

.web a{text-decoration: none;margin-top: 40px}

.web #car {
	padding:10px 20px;
  width: 400px;
  cursor: pointer;
  margin: 20px 0px;
  text-align:center;
  border: none;
  color: white;  
font-size:20px ;
	 font-family: TraditionSansXLight;
	 border-radius:20px;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,rgb(101, 14, 188),rgb(37, 127, 120) , #091F92 ,rgb(110, 34, 211));
  box-shadow: 0 4px 10px rgba(45, 54, 65, 0.5);}

.web #car:hover {
  background-position: 75% 0;
  transition: all 2s ease-in-out;
  box-shadow: 0 0px 50px rgba(45, 54, 65, 0.9);}


.pag-web .img{  
position: relative;
background:  url(../img/foo.webp) 
;background-size: 90% 300px;
background-repeat: no-repeat;
max-width: 540px}

.pag-web .img img {  
justify-content ; 
text-align: center;
border-radius: 5px;
margin: 0 auto;
width: 70%;
;height: 300px;
max-width: 600px
}

/* beneficios */
.divido{
display: grid;
grid-template-columns: repeat(2,1fr);		
background: url(../img/banner.webp);
background-size: 100% 100%;
background-position: center;
padding: 30px 20px;
margin:70px auto; 
border-radius: 20px;
width: 90%;
max-width: 900px}

.divido .parte1 {width: 100%}


.divido h5{font-size:30px;
color:white ;
font-family: 'Stick No Bills', sans-serif;
text-shadow: 0px 5px 5px black;
letter-spacing: 1px; }



.divido p {font-size:20px;
color: white;
;width:90%;
font-family: TraditionSansXLight;
line-height: 1.5;
margin-top: 15px;
max-width: 500px;
text-align: left;
margin-bottom: 0px}		


.divido article ul{
margin-top: 15px;}

.divido article li {font-size:20px;
color: white;
;width:90%;
font-family: TraditionSansXLight;
line-height: 1.3;
margin-top: 2px;
max-width: 500px;
text-align: left;
list-style: none;}		



.divido article li::before {
  content: "+ ";
  font-size:22px;}



/* partes*/
.partesweb{display: grid;
grid-template-columns: repeat(3,1fr);
 width:86%;
 margin: 20px auto;
grid-gap: 10px;
max-width: 1200px}

.parte{
 border:3px solid  #004F79;
width: 100%; 
cursor:pointer;
margin: 0 auto;
  background-size: 100% 300%;;
  box-shadow: 0 4px 10px rgba(45, 54, 65, 0.5);
background-image: linear-gradient(to bottom, black, black,rgb(94, 9, 207),rgb(38, 26, 95))}


.parte:hover{
transform: translateY(-7%);;
  background-position:0px 40% ;
  transition: all 2s ease-in-out;}

.parte figure img{ width: 100% ;
 height: 150px; 
 margin:  10px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
 background: white }		

.parte h5 {  	 
		line-height: 1; color: #ffff;
	  	color: #fff;
	  	padding-top: 20px;
	  	padding-bottom: 5px;  
		 font-size:20px ; 
		 border-bottom: 1px solid  #004F79; 
		 width: 40%;
		 letter-spacing: 1px;
		padding-left: 20px;
		font-family: TraditionSansXLight;}

.parte p { font-size: 17px;
color: #ffff;
font-family: TraditionSansXLight;
padding:10px 5px;}

.portafolio{
width: 100%;
 	 align-items: center; 
 	 margin:0px auto; 
 	 text-align: center; 
background-size: 100% 100%;
background-repeat: no-repeat;
padding-top: 30px;
 background-image: url(../img/pro.svg);	
		background-size: cover;
		background-repeat: no-repeat;
		 background-position: center; }

.proyectos{margin-top: 20px;
}

.proyectos p {font-size:20px;
color: white;
;width:90%;
font-family: TraditionSansXLight;
line-height: 1.3;
max-width: 600px;
text-align: center;
margin: 10px auto;}		


.trabajos{display: grid;
	grid-template-columns: repeat(2,1fr); 
	width:650px;  justify-content: center;
	align-items: center ;margin: 0px auto;
position: relative;
grid-gap: 15px;
  padding: 20px 0px;
grid-gap:0px 30px }


.pro {width:100%;  
border: 1px solid black;
background-image: linear-gradient(to top, #1b4125, #065644, #006a69, #007d91, #088fb8); 
border-radius: 5%; 
margin: 20px auto ;
padding: 0px}

.pro img{width: 95%; height: 160px;
margin: 0px auto;
justify-content: center;
align-items: center;
display: flex;
border-radius: 10px; 
padding: 0px}


.pro h3 { font-family: 'Stick No Bills', sans-serif;
		color:rgb(229, 245, 248); 
		font-size: 28px;
		text-align: center;
		letter-spacing: 2px;}

.pro p   { font-family: TraditionSansXLight; 
		line-height: 1.3; 
		padding: 10px 5px;
		font-size: 17px;
		color: rgb(229, 245, 248);
		 margin:0vh auto;
		text-align: center;
		width: 97%}				

.pro button{font-family: TraditionSansXLight; 
			padding: 5px 20px;
			padding-top: 10px;
			color: rgb(29, 43, 131);
			margin: 0vh auto;
			text-align: center;
			background: ;
			border-radius: 20px 20px 0px 0px ;
			border: none;
			display: flex;
			letter-spacing: 1px;
			background: rgb(8, 8, 8);}


.pro a { font-family: 'Stick No Bills', sans-serif; 
		line-height: 1.2; 
		padding: 1px;
		font-size:20px;
		color:#cccccc;;
		 text-decoration:none;}

.pro:hove{ box-shadow:1px 1px 10px 10px rgba(27, 151, 164,0.5)
	; 	cursor: pointer;
			transition: all 400ms ease-in-out }

.pro button:hover{background: rgb(4, 71, 109);
transition: all 3s ease-out ;}

.otros{
padding:0vh 0vh 30px 0px;
width: 100%;}

.otros p{ text-align: center; 
	margin: 18px;
color: white;
font-family: TraditionSansXLight;
color: #ecf0f1; 
font-size: 20px; 
width: 50%;
margin: 0 auto}

.otros div{display: flex; );
	width: 100%;
	margin: 5px auto;
align-items: center;
justify-content: center;}				
			

.otros div a{ 
 text-decoration: none;	
 font-family: 'Stick No Bills', sans-serif;
 ;font-size: 20px;
	color: #ffff;
	margin: 10px 20px}

.otros div  a:hover{ ;
	color:rgba(100, 200, 78,0.7) }

#servicio{background: rgba(0,0,0,0.7);
	padding: 60px 0px }

.ser{display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 20px;
width: 90%;
margin: 10px auto;
height: auto;
max-width: 1000px;;
margin-top: 30px}

.ser .s1 div{
width: 100%;}

.ser .s1 div img{
	width: 100%;
background: rgb(6, 12, 17);
height: 250px;
  box-shadow: 0 4px 15px rgba(45, 54, 65, 0.5);
margin-bottom: 10px}

.ser .s0 h5{
font-size:20px;
text-align: center;
padding-top: 5px;
width: 96%;
color: white;  
font-family: TraditionSansXLight;
color: #ecf0f1; ;}

.ser .s1 div p{
font-size:18px;
text-align: left;
width: 100%;
font-family: TraditionSansXLight;
color: #ecf0f1; 
font-style: normal;
line-height: 1.5;
padding: 10px;
margin-top: 0px}

.ser .s0 {
	width: 100%;
background: rgba(0, 2, 0,0.9);
padding:20px 0px;
  background-size:400% 100%;
  background-image: linear-gradient(
    to right, black, black, rgb(110, 34, 171), rgb(110, 34, 111));
  box-shadow: 0 4px 15px rgba(45, 54, 65, 0.5);}


.ser .s0:hover{
transition: all 2s ease-out;
cursor: pointer;
  background-position: 50% 0%;
  transition: all 1.4s ease;
  box-shadow: 0 4px 30px rgba(45, 54, 65, 0.9);}



.ser .s2 div img{
	width: 100%;
	height:220px;
	margin-top: 10px ;

  box-shadow: 0 4px 10px rgba(45, 54, 65, 0.5);}

.ser .s2 div p{
font-size:18px;
text-align: left;
width: 100%;  
font-family: TraditionSansXLight;
color: #ecf0f1	; 
font-style: normal;
line-height: 1.5;
padding: 10px;
margin-top: 0px}

.ser .s3{
background: rgba(6, 12, 17,0.9)	;}


.ser .s3  li{
font-size:18px;
text-align: left;
width: 100%;  
font-family: TraditionSansXLight;
color: #ecf0f1; 
font-style: normal;
list-style: none;
padding:0px 10px}

.ser .s3  li::before{content:"! " ;
color: green;
font-size:25px;}


.coon{width: 90%;margin: 30px auto;
padding: 20px 0px}

.coon p {font-size:20px;
color: white;
;width:70%;
font-family: TraditionSansXLight;
line-height: 1.3;
margin: 10px auto;
text-align:center;
max-width: 700px}		


.contmary{  display: grid; 
			grid-template-columns: repeat(3,1fr);
			grid-gap: 10px;
			width: 85%;
			margin: 10px auto;
			max-width: 1100px}

.contalfa{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;;
margin-top: 10px}

.contalfa figure{position: relative;
	height:200px;
	width: 95%;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 1px 7px 5px  rgba(0,0,0,0.5)
	;cursor: pointer;}

.contalfa figure img{ width: 100%; 
		height: 200px;
		 transition: all 500ms ease-out}

.contalfa figure .capa2{position: absolute;
	top: 0; width: 100%;
	height: 200px;
	background: rgba(64, 73, 87,0.9);
	opacity: 0;
	visibility: hidden;
	text-align: center;
  border: 0.1vh solid black;}

.contalfa figure:hover > .capa2{opacity: 1;
	visibility: visible; 
width: 100%;
transition: all 3s ease ; 
		}

.contalfa figure:hover > .capa2 h4{
		padding: 0; 
		font-family: TraditionSansXLight ;
		transition: all 1.5s ease ; 
			color: #fff;
		font-size:25px;
		width: 100%;
		text-align: center;
		margin-top: 10px}


.contalfa figure:hover > .capa2 p{margin:0px auto; 
	padding: 0px;
font-size:19px;
transition: all 700ms ease ;color: #fff;
font-family: TraditionSansXLight ;width: 95%;
transition: all 1.5s ease }

.container-form {
background-image: url(../img/fondo2.svg);
background-size:contain;
width: 100%;
padding: 40px 0px;
margin-top: 40px}

.all{padding: 0px}

.containerpx{width: 90%;
display: grid; 
grid-template-columns: repeat(2,1fr);
grid-gap: 20px;
margin: 0px auto;
max-width: 1100px}


.info-form h6 {
margin: 5px 0px;
font-size: 23px;
color:#ffff ;
font-family: monospace;}		

.info-form p{
width: 90%; 
font-size: 18px;
line-height: 1.3; 
margin: 5px 0px ;  
color:#ffff;	
padding: 10px 0px ;
font-family: TraditionSansXLight  ;
text-align: left;
font-style: normal;
max-width: 800px}

.container-form a {
	font-family: TraditionSansXLight ;
	font-size: 18px;
	display: inline-block;
	text-decoration: none;
	width:80%;
	 color:#ffff;
	font-weight: 600px;
border-bottom:3px solid transparent;
padding:5px 10px }

.container-form a i {
color:rgb(90, 166, 113);
font-size: 25px;}

.container-form a:hover{
color:rgb(90, 166, 113);
font-size: 20px} 



.footer-red-social ul{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	width: 200px}	

.footer-red-social ul li{position: relative;
	list-style: none;
	margin: 10px;
	cursor: pointer;display: flex; 
	justify-content: center;
	align-items: center;}

.footer-red-social  ul li a {text-decoration: none;}

.footer-red-social ul li a .fa 
{font-size: 30px;
	border-radius:50%;
width: 55px; 
height: 55px;
display: flex;
justify-content: center;
align-items: center;
color: white;
background: rgb(0,0,0,0.7);}


.footer-red-social  ul li a .fa-facebook:hover{
background:#3b5998;
transition: all 1 ease-out;
box-shadow: 0px 0px 20px #3b5998 }

.footer-red-social  ul li a .fa-instagram:hover{
background:#9E37B8 ;
box-shadow: 0px 0px 20px #9E37B8; 
transition: all 1 ease-out}

.footer-red-social  ul li a .fa-twitter:hover{  
background:#00acee ;
transition: all 1 ease-out;
box-shadow: 0px 0px 20px #00acee }




form{ 
border: 3px solid rgb(60, 166, 113);
	;width: 90%;
padding: 10px ;
background: rgba(0,0,0,0.6);
border-radius: 10px}

.container-form form .campo
{background:none;
display: block;
margin: 20px 10px;
width:50%; 
padding: 10px;
font-size: 18px;
border: 0;
border-bottom: 2px solid rgb(60, 166, 113);	
outline: 0px;
outline:none; border: 2;
cursor: pointer;
color: white;
width: 90%;
font-family: TraditionSansXLight }

.container-form form .campo::placeholder {
color: white;
font-size: 20px;
background: none;
font-family: TraditionSansXLight }


.select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;}

.select::-ms-expand {
    display: none;}	

.select{
	display: inline-block;
	cursor: pointer;
  	outline: 0; 
  	color: white;
	font-size: 18px;
	 font-family: TraditionSansXLight; 
    transition: all 0.25s ease;
    outline:none;
	border: 0;
	border-bottom : 2px solid rgb(60, 166, 113);
	background:  none;
	margin: 10px;
	width:90%; 	
	padding: 10px;}

.select option{background:black;}

.container-form .btn-enviar
{display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
padding: 10px;
font-size:18px;
border: none;
outline: 0px;
color:white;
border: 1px solid rgb(60, 166, 113);
cursor: pointer;
transition: all 400ms ease;
 font-family: TraditionSansXLight;
margin-top: 15px;
border-radius: 20px;
background:rgba(13, 3, 8,0.8);
}

.container-form .btn-enviar:hover {
border: 1px solid rgb(60, 166, 113);
background: rgb(15, 121, 136);
;color: black;
text-shadow: 0px 0px 10px white}

.piedepag .grupo1{
	width: 100%;
	margin: auto;
	grid-gap: 5px;
	padding: 10px 0px }


.piedepag{background: rgba(0,0,0,0.7);
padding: 15px}

 .grupo2{
text-align: center; 
font-family: 'Ubuntu Condensed', sans-serif;
padding: 0vh;
width: 700px;
margin: 0 auto;}


 .grupo2 a{text-decoration: none;
font-size:18px ;
font-family: TraditionSansXLight;
color:white;
width: 100%}

 .grupo2 a b{
font-size: 18px ;
font-family: TraditionSansXLight;
color: #24dff9}


 .grupo2 a b:hover{
font-size: 18px ;
font-family: TraditionSansXLight;
color: green}
	

 .grupo2 a:hover{
font-size: 18px ;
font-family: TraditionSansXLight;
color:white}





/*Para tableta*/
@media screen and (min-width: 550px) and (max-width: 1023px)
{	

header {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: center;
    background-size: 100% 500px;}


.what{position: fixed;
bottom:40px;
left:0px;
color: white;;
z-index: 4;
background: green;
border-radius: 0px 30px 30px 0px;}

.what a i{padding: 1px;
position:   absolute;
font-size:27px;
background: green;
z-index: 4;
border-radius: 0px 30px 30px 0px;;
padding: 5px;}

.what a{color: white;
background: green;text-decoration: none;}

.what a p{font-size: 13px; 
padding: 0px 10px;
padding-top:5px;
padding-left: 42px;
left: -100px;
height: 37px;
width: 0px;position: absolute;;
border-radius: 0px 30px 30px 0px;
font-family: TraditionSansXLight;

background: green;}

.what a:hover > p{
opacity: 1;
visibility: visible;;
background: green;
transition:all 0.5s ease ;
width: 130px ;
left: 0px;
font-family: TraditionSansXLight;
height:37px;}





.what2{position: fixed;
bottom:80px;
left:0px;
color: white;;
z-index: 4;
border-radius: 0px 30px 30px 0px;}

.what2 a i{padding: 5px;
position:   absolute;
font-size:25px;
z-index: 4;
border-radius: 0px 30px 30px 0px;
padding:5px 10px}

.what2 a{color: white;
background: green;text-decoration: none;
;}

.what2 a p{font-size: 13px; 
padding: 0px 10px;
padding-top:10px;
padding-left: 42px;
left: -100px;
height: 35px;
width: 0px;position: absolute;;
border-radius: 0px 30px 30px 0px;
		 font-family: TraditionSansXLight}

.what2 a:hover > p{
opacity: 1;
visibility: visible;
transition:all 0.5s ease ;
width: 100px ;
left: 0px;
font-family: TraditionSansXLight;
height: 35px}




.conten nav ul li a{display: none;}

.conten nav img{
width:40px;
z-index: 2;
height: 30px
; border-radius: 50%;
background: rgba(21, 23, 23,0.5);
position: absolute;
top: -1%;
right:-2% ;
display: block;}

.conten i {
font-size: 20px; 
color: white; 
cursor: pointer;
margin: 2% 5%}
 
 .cont-menu label{ 
position: absolute;  
font-size: 20px;
padding: 5px ;
transform: rotate(0deg); }   


.container-menu{
position: absolute;
background: rgba(0,0,0,0.9);
height:700px;
width: 300px;
top: 0px;
left: -300px;
transition: all 900ms ease;
opacity: 0;
visibility: hidden;
z-index: 1;
max-width: 1800px;
overflow: hidden;}

#btn-men:checked ~ .container-menu{
opacity: 1;
visibility: visible;
transition: all 2s ease;
top:0%;
left: 0px}



.container-menu{
height: 500px;
width: 24%;}

.cont-menu  nav  a{ 
display: block; 
text-decoration: none;
font-family: 'Stick No Bills', sans-serif;
font-style: normal;
 font-size: 17px;
padding:5px 10px ;
color: #c7c7c7c7; }

.cont-menu nav .sociales{display: flex;;
align-items: center;
justify-content: center;
margin: 0px auto;}

.cont-menu  nav .sociales a{ 
	display: block; 
text-decoration: none;
font-family: 'Stick No Bills', sans-serif;
font-style: normal;
 font-size: 25px;
color: #c7c7c7c7;
border-radius: 50%;}


.cont-menu nav a:hover{ 
transition: all 1.2s ease;
border-left: 0vh solid black;}


.saludo{
height:130px;
align-items: center;
justify-content: center;
margin: 0 auto;
position: relative;
margin-top: 200px;
padding: 2px;
width: 350px;
outline: 8px solid rgba(10,10,10,0.9);; 
border-radius: 5px;
border:4px ridge rgba(15, 127, 185,0.7);
background: rgba(10,10,10,0.9);
box-shadow: 0px 0px 100px rgba(15, 127, 185,1)}

.saludo h1{ font-family: 'Stick No Bills', sans-serif;
		font-weight: 500; 
		 text-shadow: 10px 6px 10px black;
		text-align:center;
		 margin: 0 auto;
		letter-spacing: 1px;
		width:100%;
		font-size: 45px; 
		padding-top:10px ;
		font-style: oblique;
	color:rgb(7, 204, 101);
text-shadow: 0px 0px 5px rgba(05, 107, 15,1)}


.saludo  h2 {color:rgb(255, 255, 211) ; 
font-family: 'Ubuntu Condensed', sans-serif;; 
font-size: 25px;
text-align: center; line-height: 1;
padding-top: 10px;
letter-spacing: 1px}		


/* bienvenida */

.bienvenido{ margin: 20px auto;
	margin-top: 40px;
	margin-bottom:50px;
 border: 2px solid rgb(17, 18, 21);
background-image: linear-gradient(to top, #1b4125, #054737, #004c4a, #004f5a, #0b5268) ;
box-shadow: 4px 10px 10px 10px black;
  width: 100%;
max-width: 450px;
padding: 30px 0px}


.bienvenido h3 { 
color:#dff4f7 ; 
font-family: 'Ubuntu Condensed', sans-serif;; 
font-size:33px;
text-align: center;
text-shadow: 0px 0px 2px white;;
margin: 0px;}

.bienvenido h4 { 
color: #2feab8;
font-family: 'Ubuntu Condensed', sans-serif;; 
font-style: italic;
font-size:30px;  
text-shadow: 1px 1px 15px black;
text-align: center;
padding:10px 0px} 

.bienvenido p {font-size:15px;
color: white;
;width:85%;
font-family: TraditionSansXLight;
line-height: 1.3;
margin: 5px auto;
text-align: center;}		

/* web */
.pag-web{background: rgba(0,0,0,0.7);}

.pag-web-a{display:grid;
	grid-template-columns: repeat(2	,1fr);
width:100%;
margin: 0% auto;
padding: 40px 20px;
max-width: 800px}

.web{width: 95%;
margin: 0 auto;
max-width: 800px}


.web  h4{font-size:23px;
font-family: 'Stick No Bills', sans-serif;
text-shadow: 0px 5px 5px black;
letter-spacing: 1px;
margin-top:20px;}



.web p {font-size:15px;
color: white;
;width:100%;
font-family: TraditionSansXLight;
line-height: 1.3;
margin-top: 15px;
max-width: 500px;
text-align: left;
margin-bottom: 20px}		


.web #car {
	padding:5px 10px;
  width: 160px;
  cursor: pointer;
  margin: 20px 0px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  color: #f7f1e3;  
	font-size:14px ;
	 font-family: TraditionSansXLight;
	 border-radius: 20px;}

.web #car:hover {
  background-position: 75% 0;
  transition: all 2s ease-in-out;
  box-shadow: 0 4px 20px rgba(45, 54, 65, 0.9);}




.pag-web .img{  
position: relative;
background-size: 85% 220px;
background-repeat: no-repeat;
align-items: center;
justify-content: center;}

.pag-web .img img {  
justify-content ; 
text-align: center;
border-radius: 5px;
margin: 0 auto;
width: 80%;
;height:200px;}

.divido{
display: grid;
grid-template-columns: repeat(1,1fr);		
background-size: cover;
background-position: center;
padding: 30px 50px;
margin:50px auto; 
border-radius: 20px;
width: 70%}

.divido .parte1 {width: 100%}


.divido h5{font-size:20px;
color:white ;
font-family: 'Stick No Bills', sans-serif;
text-shadow: 0px 5px 5px black;
letter-spacing: 1px; }



.divido p {font-size:14px;
color: white;
;width:90%;
font-family: TraditionSansXLight;
line-height: 1.3;
margin-top: 15px;
max-width: 500px;
text-align: left;
margin-bottom: 20px}		


.divido article li {font-size:14px;
color: white;
;width:90%;
font-family: TraditionSansXLight;
line-height: 1.3;
margin-top: 2px;
max-width: 500px;
text-align: left;
list-style: none;}		



.divido article li::before {
  content: "+ ";
  font-size:18px;}


#H5{font-size:30px;
font-family: 'Stick No Bills', sans-serif;
text-shadow: 0px 5px 5px black;
letter-spacing: 1px;
margin-top:20px;
display: flex;justify-content: center;
align-items: center;
max-width: 400px ;
margin: 0 auto}


.partesweb{display: grid;
grid-template-columns: repeat(3,1fr);
 width: 97%;
 margin: 10px auto;
grid-gap:10px;
max-width: 700px}

.parte figure img{ width: 100% ;
 height: 110px; 
 padding: 1%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto; }		

.parte h5 {
		line-height: 1; color: #ffff;
	  	color: #fff;
	  	padding-top: 10px;
	  	padding-bottom: 2px;  
		 font-size:15px ; 
		 border-bottom: 1px solid  #004F79; 
		 width: 40%;
		 letter-spacing: 1px;
		padding-left:10px;
		font-family: TraditionSansXLight;}

.parte p { font-size:13px; 
color: #ffff;
	color: #fff; 
	font-family: TraditionSansXLight;
	padding:10px 5px	}

.parte{  cursor:pointer;}	

.parte:hover{box-shadow: 4px 2px 5px black;
		transform: translateY(-3%);
		transition: all 1s ease-out}

/*web*/

.portafolio{padding-top: 20px }

.proyectos{margin-top:0px}

.proyectos p {font-size:14px;
color: white;
;width:90%;
font-family: TraditionSansXLight;
line-height: 1.3;
max-width: 500px;
text-align: center;
margin: 0px auto;
margin-top: 10px}		



.trabajos{display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 10px; 
	width: 90%;  justify-content: center;
	align-items: center ;margin: 0px auto;
position: relative;
max-width: 500px}

.pro {
width: 100%;  
border: 1px solid black;
background-image: linear-gradient(to top, #1b4125, #065644, #006a69, #007d91, #088fb8); 
border-radius: 5%; 
margin: 10px auto ;	}

.pro img{width: 95%; height: 130px;
margin: 0 auto;
justify-content: center;
align-items: center;
border-radius: 10%;display: flex; }

.pro h3 { font-family: 'Stick No Bills', sans-serif;
		 margin: 2px ;
		color:rgb(229, 245, 248); 
		font-size: 18px;}

.pro p   { font-family: TraditionSansXLight; 
		line-height: 1.2; 
		font-size:13px;
		color: rgb(229, 245, 248);
		 margin: 0px auto;
		text-align: center;
		width: 100%;
		padding: 0px 10px}				

.pro button{font-family: TraditionSansXLight; 
			color: rgb(29, 43, 131);
			text-align: center;
			border: none;
			display: flex;
			padding:3px 5px;
			margin-top: 10px}

.pro a { font-family: 'Stick No Bills', sans-serif; 
		line-height: 1; 
		padding: 1px;
		font-size:15px;
		color:#cccccc;;
		 text-decoration:none;
		;margin: 5px 10px; }

.pro:hover{ box-shadow:1px 1px 10px 5px rgba(27, 151, 164,0.5)
	; 	cursor: pointer;
			transition: all 400ms ease;}

.pro a:hover{  color:#cccccc;}

.pro button:hover{
	transition: all 400ms ease }
	

.otros{
padding: 2vh 0px;
width: 100%;}

.otros p{ text-align: center; margin: 2vh;
color: white;
font-family: TraditionSansXLight;
color: #ecf0f1; 
font-size: 15px; 
width: 50%;
margin: 0 auto}

.otros div{display: grid;
	grid-template-columns: repeat(4,1fr);
	width: 50%;
	margin: 5px auto;
align-items: center;
justify-content: center;}				
			

.otros div a{ 
 text-decoration: none;	
 font-family: 'Stick No Bills', sans-serif;
 ;font-size: 17px;
	color: #ffff;
	margin: 10px 20px}

.otros div  a:hover{ ;
	color:rgba(100, 200, 78,0.7) }


/*servicio*/
#servicio{background: rgba(0,0,0,0.5);;
padding: 20px 0px}


.ser{display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap: 10px;
width: 70%;
margin: 0px auto;
height: 100%;
margin-top: 20px;
max-width:450px;}

.ser .s1 div{
width: 100%;}


.ser .s1 div img{
	width: 100%;
height: 100%;
background: rgb(6, 12, 17);
height: 170px;
margin-bottom: 0px}

.ser .s0 h5{
font-size:16px;
text-align: center;
padding-top: 5px; }

.ser .s1 div p{
font-size:13px;
text-align: left;
  width: 100%;
padding: 5px 0px;
margin: 0}

.ser .s0 {
width: 100%;
padding: 20px}

.ser .s2 div img{
	width: 100%;height: 135px;
	margin-top:5px }

.ser .s2 div p{
font-size:13px;
text-align: left;
width: 100%;
padding: 0px;
margin: 0px}

.ser .s3{
background: rgba(6, 12, 17,0.6)	;
width:205%}


.ser .s3  li::before{content:"! " ;
color: green;
font-size:20px;}


.ser .s3 h5{padding-bottom:10px}


.ser .s3 ul{padding: 10px 0vh}

.ser .s3  li{
font-size:13px;
text-align: left;
width: 100%; 
margin:0 auto}

/*conocimiento*/
.coon{width: 60%;margin: 10px auto}

.contmary{ 	; display: grid; 
			grid-template-columns: repeat(2,1fr);
			width: 90%;
			margin: 10px auto;
			grid-gap: 0px	;
			max-width: 500px}

.coon p {font-size:15px;
color: white;
;width:100%;
font-family: TraditionSansXLight;
line-height: 1.3;
margin: 10px auto;
text-align:center;}		


.contalfa{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 170px; ;
margin: 10px auto;}

.contalfa figure{position: relative;
	height: 170px;
	width: 95%;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 1px 7px 5px  rgba(0,0,0,0.5)
	;cursor: pointer;}

.contalfa figure img{ width: 100%; 
		height: 170px;
		 transition: all 500ms ease-out}

.contalfa figure .capa2{position: absolute;
	top: 0; width: 100%;
	height: 170px;
	background: rgba(64, 73, 87,0.9);
	opacity: 0;
	visibility: hidden;
	text-align: center;}

.contalfa figure:hover > .capa2{opacity: 1;
	visibility: visible; 
width: 100%;
transition: all 2s ease ; 
		}

.contalfa figure:hover > .capa2 h4{
		font-size:20px;}

.contalfa figure:hover > .capa2 p{font-size:15px;}

/*FORM*/
.all {padding-top: 0px}
 
.container-form {
background-image: url(../img/fondo2.svg);
;background-size:cover;
background-repeat: no-repeat;
width: 100%;
padding: 0px;
margin: 0px auto;
padding:30px 0px ;
margin-top: 30px}

.containerpx{width: 60%;
display: grid; 
grid-template-columns: repeat(1,1fr);
grid-gap: 10px;
margin: 0px auto;
max-width: 500px}


.info-form h6 {
margin: 5px 0px;
font-size: 18px;
color:#ffff ;
font-family: monospace;}		

.info-form p{
width: 100%; font-size: 14px;
text-align: left;
padding: 0px}

.container-form a {
	font-family: TraditionSansXLight ;
	font-size: 15px;
	display: inline-block;
	text-decoration: none;
	width:80%;}

.container-form a:hover {font-size: 16px}

.container-form a i {
color: rgb(15, 161, 156);
font-size: 20px}

.container-form a i:hover {
color:#27c3c1;}


.footer-red-social ul{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	width: 200px;
	margin: 0 auto}	

.footer-red-social ul li{position: relative;
	list-style: none;
	margin:0px;
	cursor: pointer;display: flex; 
	justify-content: center;
	align-items: center;}

.footer-red-social  ul li a {text-decoration: none;}

.footer-red-social ul li a .fa 
{font-size: 23px;
	border-radius:50%;
width: 45px; 
height: 45px;
display: flex;
justify-content: center;
align-items: center;
color: white;
background: rgb(0,0,0,0.7);}


.footer-red-social  ul li a .fa-facebook:hover{
background:#3b5998;
transition: all 1 ease-out;
box-shadow: 0px 0px 20px #3b5998 }

.footer-red-social  ul li a .fa-instagram:hover{
background:#9E37B8 ;
box-shadow: 0px 0px 20px #9E37B8; 
transition: all 1 ease-out}

.footer-red-social  ul li a .fa-twitter:hover{  
background:#00acee ;
transition: all 1 ease-out;
box-shadow: 0px 0px 20px #00acee }





form{ 
border:2px solid rgb(60, 166, 113);
	;width: 100%;
	padding: 10px;
margin: 0 auto}

.container-form form .campo
{background:none;
display: block;
margin:  10px;
width:40vw; 
padding: 10 10px;
font-size:15px;
border: 0;
border-bottom: 2px solid rgb(60, 166, 113);	
outline: 0px;
outline:none; border: 2;
cursor: pointer;
color: white;
width: 90%}

.container-form form .campo::placeholder {
color: white;
font-size: 15px;
background: none;
font-family: TraditionSansXLight }

.select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;}

.select::-ms-expand {
    display: none;}	

.select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	outline: 0; 
  	border: 0;
	color: white;
	font-size:15px;
	 font-family: TraditionSansXLight; 
    transition: all 0.25s ease;
    outline:none;
	border: 0;
	border-bottom: 2px solid rgb(60, 166, 113);
	background:  none;
	width:20vw;
	width: 90%;
	margin: 10px;}

.select option{background:rgba(09,12,20,0.8);}

.container-form .btn-enviar
{display: flex;
align-items: center;
justify-content: center;
margin: 5px auto;
padding: 5px 15px;
border: none;
outline: 0px;
color:white;
border: 1px solid rgb(60, 166, 113);
cursor: pointer;
transition: all 400ms ease;
 font-family: TraditionSansXLight;
font-size:15px;
margin-top: 15px;
border-radius: 20px;
background:rgba(13, 3, 8,0.8);
}

.container-form .btn-enviar:hover {
border: 2px solid rgb(60, 166, 113);}

.piedepag{width: 100%;}

.piedepag img {width: 50vw ;height: 25vh;
margin: 0 auto}	

.piedepag .grupo1{
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 5px;
	padding: 10px 0px }



.piedepag{background: rgba(0,0,0,0.7);
padding: 0px}


 .grupo2{
text-align: center; 
font-family: 'Ubuntu Condensed', sans-serif;
padding: 10px 0vh;
width: 90%;
margin: 0 auto;
max-width: 530px}


 .grupo2 a{text-decoration: none;
font-size:13px ;
font-family: TraditionSansXLight;
color:white;;}

 .grupo2 a b{
font-size: 13px ;
font-family: TraditionSansXLight;
color: #24dff9}


 .grupo2 a b:hover{
font-size:13px ;
font-family: TraditionSansXLight;
color: green}
	

 .grupo2 a:hover{
font-size:13px ;
font-family: TraditionSansXLight;
color:white}

}

/*Para Telefono*/
@media screen and (max-width: 549px)
{	


header {
    width: 100%;
    height: 90vh;
    max-height: 850px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: center;
    background-size: 100% 100%;}



.what{position: fixed;
bottom: 50px;
left:0px;
color: white;;
z-index:4;
background: green;
border-radius: 0px 30px 30px 0px;}

.what a i{padding: 5px;
position:   absolute;
font-size:35px;
background: green;
z-index: 4;
border-radius: 0px 30px 30px 0px;
padding-right: 15px}

.what a{color: white;
background: green;text-decoration: none;
;}

.what a p{font-size: 15px; 
padding: 0px 10px;
padding-left: 55px;
left: -100px;
height: 45px;
width: 0px;position: absolute;;
border-radius: 0px 30px 30px 0px;
		 font-family: TraditionSansXLight}

.what a:hover > p{
opacity: 1;
visibility: visible;;
background: green;
transition:all 0.5s ease ;
width: 150px ;
left: 0px;
	font-family: TraditionSansXLight;
		 height: 45px}


.what2{position: fixed;
bottom: 100px;
left:0px;
color: white;;
z-index: 4;
background: green;
border-radius: 0px 30px 30px 0px;}

.what2 a i{padding: 5px;
position:   absolute;
font-size:35px;
z-index: 4;
border-radius: 0px 30px 30px 0px;
padding-right: 20px}

.what2 a{color: white;text-decoration: none;
;}

.what2 a p{font-size: 15px; 
padding: 0px 10px;
padding-top:14px;
padding-left: 50px;
left: -100px;
height: 45px;
width: 0px;position: absolute;;
border-radius: 0px 30px 30px 0px;
		 font-family: TraditionSansXLight}

.what2 a:hover > p{
opacity: 1;
visibility: visible;
transition:all 0.5s ease ;
width: 110px ;
left: 0px;
font-family: TraditionSansXLight;
height: 45px;}


.btn-men{
width: 100%;
border-radius: 0px;
padding: 5px 0px}

.all{padding-top: 0px}


.conten nav ul li a{display: none;}

.conten nav img{
width:40px;
z-index: 2;
height: 40px
; border-radius: 50%;
background: rgba(21, 23, 23,0.5);
position: absolute;
top: 5px;
right:-5% ;
display: block;}


.conten i {
font-size: 23px; 
color: white; 
cursor: pointer;
margin-right: 0px}
 
 .cont-menu label{ position: absolute;  
font-size: 25px ;
transform: rotate(0deg); 
right: 10px;}   


 
 .cont-menu label{ 
position: absolute;  
font-size: 20px;
padding: 5px ;
transform: rotate(0deg); }   


.container-menu{
position: absolute;
background: rgba(0,0,0,0.9);
top: 0px;
left: -60%;
transition: all 900ms ease;
opacity: 0;
visibility: hidden;
z-index: 1;
max-width: 1800px;
overflow: hidden;
height: 90vh;
width: 50%;
max-height: 850px}

#btn-men:checked ~ .container-menu{
opacity: 1;
visibility: visible;
transition: all 2s ease;
top:0%;
left: 0px}





.cont-menu  nav  a{ 
display: block; 
text-decoration: none;
font-family: 'Stick No Bills', sans-serif;
font-style: normal;
 font-size: 20px;
padding:1vh 2vh;
color: #c7c7c7c7; }

.cont-menu  nav .sociales a{ 
	display: block; 
text-decoration: none;
font-family: 'Stick No Bills', sans-serif;
font-style: normal;
 font-size: 30px;
color: #c7c7c7c7;
border-radius: 50%;}

.saludo{
height:150px;
align-items: center;
justify-content: center;
margin: 0 auto;
position: relative;
margin-top: 38vh;
padding: 2px;
width: 87%;
outline: 8px solid rgba(10,10,10,0.9);; 
border-radius: 5px;
border:4px ridge rgba(15, 127, 185,0.7);
background: rgba(10,10,10,0.9);
box-shadow: 0px 0px 100px rgba(15, 127, 185,1);
max-width:320px}

.saludo h1{ font-family: 'Stick No Bills', sans-serif;
		font-weight: 500; 
		 text-shadow: 10px 6px 10px black;
		text-align:center;
		 margin: 0 auto;
		letter-spacing: 1px;
		width:100%;
		font-size: 40px; 
		padding-top:30px ;
		font-style: oblique;
	color:rgb(7, 204, 101);
text-shadow: 0px 0px 5px rgba(05, 107, 15,1)}


.saludo  h2 {color:rgb(255, 255, 211) ; 
font-family: 'Ubuntu Condensed', sans-serif;; 
font-size: 25px;
text-align: center; line-height: 1;
padding-top: 10px;
letter-spacing: 1px}		






/* bienvenida */
.bienvenido{ width:90%; 
 margin: 40px auto;
 border: 3px 	solid rgb(27, 68, 81);
background-image: linear-gradient(to top, #1b4125, #054737, #004c4a, #004f5a, #0b5268);
  padding: 30px 10px;
box-shadow: 5px 1px 10px 10px black;
max-width:340px}

.bienvenido h3 { 
color:#dff4f7 ; 
margin: 0 auto; 
font-family: 'Ubuntu Condensed', sans-serif;
font-style: oblique;
font-size:28px;}

.bienvenido h4 { 
color: #2feab8;
font-size:25px;  
text-shadow: 1px 1px 6px black;
margin: 0px auto; 
text-align: center;
font-family: 'Ubuntu Condensed', sans-serif;
max-width: 300px} 

.bienvenido p { color: #f7f1e3;  
	justify-content ; 
	font-size:15px ;
	 font-family: TraditionSansXLight;
	line-height: 1.2;
width: 95%;
margin: 5px auto;}		

/*web*/
.pag-web{
width:100%;
margin: 0% auto;
background: rgba(6, 12, 17,0.7);
}

.pag-web-a{display:grid;
	grid-template-columns: repeat(1	,1fr);
width:92%;
margin: 0% auto;
padding: 40px 0px;
max-width: 380px}

.web{width: 95%;
margin: 0 auto;}


.web  h4{font-size:23px;
font-family: 'Stick No Bills', sans-serif;
text-shadow: 0px 5px 5px black;
letter-spacing: 1px;
margin-top:20px;}


.web p { color: #f7f1e3;  
	justify-content ; 
	font-size:15px ;
	 font-family: TraditionSansXLight;
	line-height: 1.2;
width: 100%;
margin: 10px auto;
margin-bottom: 30px}

.web #car {
	padding: 10px;
  width: 160px;
  cursor: pointer;
  margin: 10px 0px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  color: #f7f1e3;  
	font-size:15px ;
	 font-family: TraditionSansXLight;
	 border-radius: 20px;
  box-shadow: 0 4px 10px rgba(45, 54, 65, 0.5);}

.web #car:hover {
  background-position: 75% 0;
  transition: all 2s ease-in-out;
  box-shadow: 0 4px 20px rgba(45, 54, 65, 0.9);}



.pag-web .img{  
position: relative;
background-size: 100% 200px;
background-repeat: no-repeat;
margin-top:40px }


.pag-web .img img {  
justify-content ; 
text-align: center;
border-radius: 5px;
margin: 0 auto;
width: 75%;
;height: 190px;
display: flex;}

.divido{display: grid;
grid-template-columns: repeat(1,1fr);		
background-size: cover;
background-position: center;
padding:30px 20px   ;
margin: 40px auto; 
border-radius: 20px;
width: 90%;
max-width: 360px}

.divido .parte1 {width: 100%}

.divido article h5 { color: #fff;
font-size: 18px ;  
font-family: 'Stick No Bills', sans-serif ;
letter-spacing: 2px;
padding:5px 10px}

.divido article p { 
color: #fff; 
padding: 5px;
line-height: 1.4;
font-size: 15px;
width: 100%;
margin-top:0px }

.divido article li { 
color: #fff;
padding: 2px 1%;
justify-content line-height: 1;
font-size: 15px; 
font-family: TraditionSansXLight;
line-height: 1 }

.divido article li::before {
  content: "+ ";
  font-size:18px;}



.partesweb{display: grid;
grid-template-columns: repeat(1,1fr);
 width: 90%;margin: 10px auto;
grid-gap: 0vh;
max-width: 340px}

#H5{font-size:25px;
font-family: 'Stick No Bills', sans-serif;
text-shadow: 0px 5px 5px black;
letter-spacing: 1px;
margin-top:20px;
display: flex;justify-content: center;
align-items: center;
max-width: 250px	;
margin: 0 auto;
text-align: center;
margin-top: 20px}


.parte{
 border: 2px solid rgb(27, 68, 81);
  margin: 10px 0vh;}
 
.parte figure img{ width: 100% ;
 height: 150px; 
 padding: 1%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto; }
 
.parte h5 {  	 
	  	padding-top:10px;
		 font-size:20px ; 
	border-bottom:1px solid  #004F79; 
		 }

.parte p { font-size:15px; 
color: #ffff;
	  	color: #fff; 
	font-family: TraditionSansXLight;
	padding:10px;	}

.parte{  cursor:pointer;}	

.parte:hover{box-shadow: 4px 10px 5px black;
		transform: translateY(-5%);
		transition: all 1.5s ease-out}

/*web*/


.portafolio{padding-top: 10px }


.proyectos{margin-top: 0px}


.trabajos{display: grid;
	grid-template-columns: repeat(1,1fr); 
	width: 87%; 
	 justify-content: center;
	align-items: center ;margin: 0px auto;
position: relative;
margin-top: 0px}

.proyectos p{  
font-family: TraditionSansXLight;
color: #ecf0f1; font-size: 15px; 
padding: 10px 0px;
margin: 0  auto;
text-align: center;
width: 90%;
max-width: 330px}

.pro {
width: 100%;  
border: 2px solid black;
background-image: linear-gradient(to top, #1b4125, #065644, #006a69, #007d91, #088fb8); 
border-radius: 5%; 
margin: 0px auto ;
max-width: 330px;
margin-bottom: 30px}

.pro img{width:95%; 
height: 140px;
margin: 0 auto;
justify-content: center;
align-items: center;
border-radius: 5% ;
display: flex;}

.pro h3 { font-family: 'Stick No Bills', sans-serif;
		 margin: 2px ;
		color:rgb(229, 245, 248); 
		font-size: 23px;}

.pro p   { font-family: TraditionSansXLight; 
		line-height: 1.1; 
		padding: 5px 10px;
		font-size:15px
		color: rgb(229, 245, 248);
		 margin: 0px auto;
		text-align: center;
		width: 100%}				

.pro button{font-family: TraditionSansXLight; 
			padding: 5px ;
			padding-top: 10px;
			color: rgb(29, 43, 131);
			margin: 0vh auto;
			text-align: center;
			border-radius: 20px 20px 0px 0px ;
			border: none;
			display: flex;
			letter-spacing: 1px;
			background: rgb(8, 8, 8);
			font-size:15px;}


.pro a { font-family: 'Stick No Bills', sans-serif; 
		line-height: 1.2; 
		padding: 1px;
		font-size:20px;
		color:#cccccc;;
		 text-decoration:none;
		;margin: 0px 10px; }

.pro:hover{ box-shadow:1px 1px 10px 5px rgba(27, 151, 164,0.5); 	cursor: pointer;
transition: all 400ms ease;
transform: translateX(10px); ;}

.pro a:hover{  color:#cccccc;}

.pro button:hover{
background:	#191919
	;transition: all 400ms ease }

.otros{
padding: 10px 0px;
width: 95%;	;
margin: 0 auto}

.otros p{ text-align: center;
 margin: 0px;
font-size: 18px; 
width:90%;
margin: 0vh auto}

.otros div{display: grid;
 grid-template-columns: repeat(2,1fr);
	width:85%;
	margin: 5px auto;}				
			
.otros div a{ text-decoration: none;	
 font-family: 'Stick No Bills', sans-serif;
 ;font-size:20px;
	color: #ffff;
	margin:5px 10px }

.otros div a:hover{
 ;color:rgba(100, 200, 78,0.7) }

/*servicio*/
#servicio{;
padding: 10px; }

.ser{display: grid;
grid-template-columns: repeat(1,1fr);
grid-gap:10px;
width: 90%;
margin: 20px auto;
height: 100%;
max-width: 330px}

.ser .s1 div{
width: 100%;}


.ser .s1 div img{
	width: 100%;
height: 100%;
background: rgb(6, 12, 17);
height: 200px}

.ser .s0 h5{
font-size:18px;
text-align: center;
padding: 1vh; }

.ser .s1 div p{
font-size: 15px;
text-align: left;}

.ser .s0 {
width: 100%;
padding: 2vh 0.5vh}


.ser .s2 div img{   
	width: 100%;height: 190px;
	margin-top: 1vh }

.ser .s2 div p{
font-size: 15px;
text-align: left;
width: 100%;}

.ser .s3{
background: rgba(6, 12, 17,0.6)	}

.ser .s3  li{
font-size: 15px;
text-align: left;
width: 95%;  }

/*conocimiento*/
.coon{width: 90%;margin: 10px auto;
max-width: 350px;
padding: 20px 0px}

.contmary{ 	; display: grid; 
			grid-template-columns: repeat(1,1fr);
			width: 90%;
			margin: 5px auto;
			grid-gap: 10px;
			max-width: 350px}

.coon p{width: 100%;
font-size:16px}

.contalfa{
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 170px;
	margin:5px auto}

.contalfa figure{position: relative;
	height: 170px;
	width: 100%;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 1px 7px 5px  rgba(0,0,0,0.5)
	;cursor: pointer;}

.contalfa figure img{ width: 100%; 
		height: 170px;
		 transition: all 500ms ease-out}

.contalfa figure .capa2{position: absolute;
	top: 0; width: 100%;
	height:170px;
	background: rgba(64, 73, 87,0.9);
	opacity: 0;
	visibility: hidden;
	text-align: center;}

.contalfa figure:hover > .capa2{opacity: 1;
	visibility: visible; 
width: 100%;
transition: all 2s ease ; }

.contalfa figure:hover > .capa2 h4{
		font-size:22px;
		margin:  0vh;;
		margin-top: 10px}

.contalfa figure:hover > .capa2 p{font-size:17px;
padding:5px 10px;
margin: 0px;
width: 100%}


/*FORM*/
.container-form {
background-image: url(../img/fondo2.svg);
background-size: cover;
background-repeat: no-repeat;
border-radius: 0%;
width: 100%;
padding: 20px 0px;
margin: 0px auto;
margin-top:0px;
padding-top:20px}


.containerpx{width: 90%;
display: grid; 
grid-template-columns: repeat(1,1fr);
grid-gap: 20px;
margin: 0px auto;
max-width: 380px}


.info-form h6 {
margin: 5px 0px;
font-size: 23px;
color:#ffff ;
font-family: monospace;
text-align: center;}		

.info-form p{
width: 90%; 
font-size: 16px;
line-height: 1.5; 
margin: 5px 0px ;  
color:#ffff;	
padding: 10px 0px ;
font-family: TraditionSansXLight  ;
text-align: left;
font-style: normal;
margin: 0 auto}


.container-form a {
	font-family: TraditionSansXLight ;
	font-size: 16px;
	display: inline-block;
	text-decoration: none;
	width:100%;}

.container-form a:hover {font-size: 16px;}


.container-form a i {
color: rgb(15, 161, 156);
font-size: 25px}

.container-form a i:hover {
color:#27c3c1;}

.footer-red-social ul{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	width: 200px;
	margin: 0 auto;}	

.footer-red-social ul li{position: relative;
	list-style: none;
	margin:0px;
	cursor: pointer;display: flex; 
	justify-content: center;
	align-items: center;}

.footer-red-social  ul li a {text-decoration: none;}

.footer-red-social ul li a .fa 
{font-size: 23px;
	border-radius:50%;
width: 45px; 
height: 45px;
display: flex;
justify-content: center;
align-items: center;
color: white;
background: rgb(0,0,0,0.7);}


.footer-red-social  ul li a .fa-facebook:hover{
background:#3b5998;
transition: all 1 ease-out;
box-shadow: 0px 0px 20px #3b5998 }

.footer-red-social  ul li a .fa-instagram:hover{
background:#9E37B8 ;
box-shadow: 0px 0px 20px #9E37B8; 
transition: all 1 ease-out}

.footer-red-social  ul li a .fa-twitter:hover{  
background:#00acee ;
transition: all 1 ease-out;
box-shadow: 0px 0px 20px #00acee }






form{ 
border:2px solid rgb(60, 166, 113);
width: 100%;
border-radius: 10px;
padding: 10px ;
margin: 0 auto}

.container-form form .campo
{background:none;
display: block;
margin: 2.5vh 10px;
width:40vw; 
padding: 2vh 10px;
font-size: 16px;
border: 0;
border-bottom : 1px solid rgb(60, 166, 113);	
outline: 0px;
outline:none; border: 2;
cursor: pointer;
color: white;
width: 90%}

.container-form form .campo::placeholder {
color: white;
font-size: 16px;
background: none;
font-family: TraditionSansXLight }

.select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;}

.select::-ms-expand {
    display: none;}	

.select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	outline: 0; 
  	border: 0;
	color: white;
font-size: 16px;
	 font-family: TraditionSansXLight; 
    transition: all 0.25s ease;
    outline:none;
	border: 0;
	border-bottom:1px solid rgb(60, 166, 113);
	background:  none;
	width:20vw;
	width: 90%;
	margin: 20px 10px;}

.select option{background:rgba(09,12,20,0.8);}

.container-form .btn-enviar
{display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
padding: 10px ;
border: none;
outline: 0px;
color:white;
border: 1px solid rgb(60, 166, 113);
cursor: pointer;
transition: all 400ms ease;
 font-family: TraditionSansXLight;
font-size:18px;}

.container-form .btn-enviar:hover {
border: 2px solid rgb(15, 161, 200);}


.box h5 {
font-size: 20px;
color:#ffff ;
font-family: monospace;
padding-top: 20px;
padding-bottom: 0px}		



.red-social{display: block; justify-content: center;
align-items: center; margin: 0 auto;
margin-top: 10px}


.red-social ul{position: relative;
	display: flex;
margin-top: 0px}

.red-social ul li{position: relative;
	list-style: none;
	margin: 0vh 10px;
	cursor: pointer;display: flex; 
	justify-content: center;
	align-items: center;}

.red-social  ul li a {text-decoration: none;}

.red-social  ul li a .fa 
{font-size: 35px;
color: white;}

.red-social  ul li a::before{
	font-family: fontAwesome;
	position: absolute;
	top:-8;
	left: 2;
	font-size: 35px;
	height: 0;
	overflow: hidden;
	transition: 0.9s ease-in-out; }

 .red-social ul li:nth-child(1) a::before{
		content: "\f16d";
		background: radial-gradient(
			circle at 30% 100%,
		 #fdf497 0%, #fdf497 5%, 
		 #fd5949 45%, #d6249f 60%, #285AEB 100%);
	  -webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
		border-bottom: 0.2vh solid #b82bb8;
		font-style: normal;}

.red-social ul li:nth-child(2) a::before{
	content: "\f099";
color: #1DA1F2;
	border-bottom: 0.2vh  solid #1DA1F2;font-style: normal}

.red-social ul li:nth-child(3) a::before{ content: "\f09a";
color: #1DA1F2;
	border-bottom: 0.2vh  solid #1DA1F2;
font-style: normal}

.red-social  ul li:hover a::before{height: 100%}


.piedepag{background: rgba(0,0,0,0.7);
padding: 0px}

 
 .grupo2{
text-align: center; 
font-family: 'Ubuntu Condensed', sans-serif;
padding: 20px 0vh;
width: 90%;
margin: 0 auto;
max-width: 300px}


 .grupo2 a{text-decoration: none;
font-size:13px ;
font-family: TraditionSansXLight;
color:white;}

 .grupo2 a b{
font-size: 15px ;
font-family: TraditionSansXLight;
color: #24dff9}


 .grupo2 a b:hover{
font-size: 15px ;
font-family: TraditionSansXLight;
color: green}
	

 .grupo2 a:hover{
font-size: 13px ;
font-family: TraditionSansXLight;
color:white}

}