
/*imagen inicio */
 header .img {
background-size: 50% 100%;
background-repeat: no-repeat;
padding: 10px}

 header .img img{margin: 0 auto;
 align-items: center;
justify-content: center;
width: 220px; 
height:220px;
display: block;
position: relative;
margin-top:200px;
background: rgba(10,10,10,0.7);}

/* Fonts */
@font-face{
font-family:StickNoBills;
src:url(../fonts/StickNoBills.ttf);}

@font-face{
font-family:Leonsans;
src:url(../fonts/Leonsans.ttf);}

@font-face{
font-family:TitilliumWeb
;src:url(../fonts/TitilliumWeb.ttf);}


.inicio{
	width: 90%;	
	max-width:1200px;
	margin: 0 auto;
	padding-top: 70px;
display: grid;
grid-template-columns:repeat(2,1fr);}

.headerPress {padding-top:60px;
width:100%;}

.headerPress span{ color: white ;
text-align: center;
font-size: 22px;
font-family:Leonsans;
margin: 10px auto;}

.headerPress h2{
color: white ;
font-family:StickNoBills;
letter-spacing: 2px;
font-size:55px;
text-shadow: 0px 0px 5px black}

:root {
  --characters: 15ch;
  --characters-steps:15;}

.headerPress h3{ color:#2feab8 ;
font-size:50px;
font-family:StickNoBills;
  margin: 0px;                /* sin auto-centro */
  text-align: left;           /* arranca desde la izquierda */
    overflow: hidden;
  white-space: nowrap;
  animation: lon 6s steps(var(--characters-steps)) 3s infinite, tap 1s infinite;
  border-right: 4px solid 
;width: var(--characters);
text-shadow: 0px 3px 5px black;}

@keyframes tap{
  0%{border-right-color: transparent;}
  50%{border-right-color:#2feab8 ;}
  100%{border-right-color:transparent}}

@keyframes lon{
  20%{width:0px;}
  50%{width:var(--characters) }
  100%{width:var(--characters)}}	


.headerPress p{ color:white;
font-size:20px;
font-family:Leonsans;
letter-spacing: 1px;
text-shadow: 10px 10px 50px black;;}

.headerImg img{
width: 450px;
height:370px;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
background-color:rgba(8, 13, 255, 0.2);
padding:20px;
border-radius:50%;
box-shadow: 0px 0px 20px rgb(0, 0, 0);
margin-top: 60px}

.red-social{ margin: 0px auto}

.red-social ul{position: relative;
	display: flex;
max-width: 500px;
margin-top: 20px;
transition: 5s all ease;}	

.red-social  ul  #contac a {
font-family:Leonsans;
color: white;
width: 150px;
height: 45px;
font-size: 22px;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(90deg,rgba(61, 115, 223, 0.408), 
2%, rgb(113, 13, 159) 51%, rgb(125, 9, 115) 100%);
transition: all 1s ease;
box-shadow: 3px 5px 0px #05afac;
}


.red-social  ul  #contac a:hover{
box-shadow:-3px -5px 0px  rgb(125, 9, 115);
background:#1cc598;
background: linear-gradient(90deg,rgba(61, 223, 220, 0.408), 
2%, rgb(0, 160, 171) 51%, rgb(8, 102, 224) 100%);

text-shadow: 0px 0px 2px rgb(50, 48, 48);}


.red-social ul li{position: relative;
	list-style: none;
	margin: 10px;
	cursor: pointer;display: flex; 
	justify-content: center;
	align-items: center;}

.red-social  ul li a {text-decoration: none;}

.red-social  ul li a .fa 
{font-size: 30px;
width:50px; 
height:40px;
display: flex;justify-content: center;
align-items: center;
color: white;
transition: 2s all ease;
}

.red-social  ul #insta{
	background-color:#9c07b3;
box-shadow:4px 5px 0px #0a7cb1;
transition: all 1s ease;}

.red-social  ul #insta:hover{
transition: all 1 ease;
	background-color:#0a7cb1;
box-shadow:-4px -5px 0px #9c07b3;}

.resumen {max-width:600px;
margin: 30px auto;
color: white;}

.resumen span {text-align: center;
font-size: 35px;
display: flex;justify-content: center;
font-family:TitilliumWeb}

.resumen span b {text-align: center;
font-size: 35px;
display: flex;justify-content: center;
font-family:TitilliumWeb;
color: #17afe2;
padding-left: 10px;}

.resumen h5 {text-align: center;
font-size: 30px;
display: flex;justify-content: center;
font-family:TitilliumWeb}

.resumen ul{display: grid;
grid-template-columns: repeat(4,1fr);
grid-gap:20px;
margin: 20px;}

.resumen ul li a{text-decoration: none;
color: white;}

.resumen ul li{background: rgb(2, 139, 173);
list-style:none;
transition: all 3s ease;
border-radius: 5px;
border: 4px solid rgba(97, 94, 94, 0.467);}

.resumen ul li:hover{background: #bf0293;
cursor: pointer;
box-shadow: 0px 0px 1px #e013e0;
transition: all 1s ease;
border: 4px solid rgba(255, 53, 225, 0.92);
transform: scale(0.90);}


.resumen ul li i{font-size: 40px;
display: flex;justify-content: center;
margin-top: 15px;}

.resumen ul li  p{font-size:18px;
	 font-family:Leonsans;
	text-align: center;
margin: 10px auto;}


.whoami1 { 
margin: 30px auto;
background: rgba(10,10,10,0.66);
color: white;}

.whoami{display: grid;
grid-template-columns: repeat(2,1fr);
width: 100%;
margin:0px auto;
padding: 10px 0px;
max-width:1100px;}

.whoami1 figure img{display: block;
width: 400px;
height:320px;
margin: 20px 0px;
border-radius: 30px}

.whoami div{margin-top: 40px;
margin-left: -80px;}

.whoami  span{
color: #09c2ff;
font-size: 24px;
font-family:Leonsans;}

.whoami div h5{font-family:StickNoBills;
font-size: 40px;
padding:5px 0	px;}

.whoami div p  {font-size:20px;
color: white;
width:90%;
line-height:1.3; 
text-align:left;
font-family:Leonsans;}

.whoami div  a{text-decoration: none;}

.whoami div  a p {color: white;
text-decoration: none;
	background:rgba(12, 88, 143, 0.783);
margin: 20px 5px ;
padding: 15px 3px ;list-style: none;border-radius: 20px;
text-align: center;
width: 300px;
border: 2px solid rgba(255, 255, 255, 0.322);
background: linear-gradient(90deg,rgba(61, 115, 223, 0.408), 2%, rgb(113, 13, 159) 51%, rgb(125, 9, 115) 100%);
padding: 10px 20px;
	font-family:TitilliumWeb;
font-size:20px;
border-radius: 20px;}

.whoami div  a p:hover {box-shadow: 0px 0px 10px #7a13e0;
border:1px solid #7a13e0;
transition: 2s all ease;}


.Experiencia{color: white;
width: 98%;	
margin: 0px auto;
padding: 0px 0px;
border-radius: 60px;}

.web-elemento{max-width:1100px;;
margin: 0px auto;
width: 100%;
padding:30px 10px;}

.web-elemento-title{display: flex;
margin-bottom: 10px}

.web-elemento-title .title{ 
background: #0a0d1f;;
width: 200% ;
margin-right: 30px;
border-radius:33px;
padding: 20px 40px;
box-shadow: 0px 0px 5px rgba(61, 115, 223, 0.808);}

.web-elemento-title .title h4{
	font-family:TitilliumWeb;
font-size: 40px;} 

.web-elemento-title .title p{
	font-family:TitilliumWeb;
font-size: 20px;} 

.web-elemento-title .title a{text-decoration: none;}

.web-elemento-title .title a p{
color: white; text-decoration: none;
padding: 10px 20px;
	font-family:TitilliumWeb;
font-size:20px;
border-radius: 20px;
margin-top: 20px;
width: 250px;
text-align: center;
background: linear-gradient(120deg,rgba(15, 114, 220, 0.878), 2%, rgb(43, 11, 148) 51%, rgb(15, 155, 206) 100%);
background-size:100%;}


.web-elemento-componet{display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 20px}

.parte{
border-radius: 20px;
 border:0px solid  #004F79;
width: 100%; 
cursor:pointer;
margin: 0px auto;
; background: rgb(32, 11, 113);
padding:5px;
background: linear-gradient(120deg,rgba(15, 114, 220, 0.878), 
2%, rgb(43, 11, 148) 51%, rgb(15, 155, 206) 100%);
background-size:100%;}


.parte  img { width:100%;
height:150px;
border-radius: 20px;}


.parte h6 {  	 
 color: #ffff;
	  	color: #fff;
padding:5px 10px;
		 font-size:18px ; font-family:Leonsans;;}

.parte p { font-size: 17px;
color: #ffff;;
padding: 0px 10px;
padding-bottom: 5px;
font-family:Leonsans;}


.Skills {width:900px; margin: 30px auto;
color:white;;}

.Skills h5{	 font-size:35px ; 
color:white;text-align: center;
margin: 20px 0px;
font-family:TitilliumWeb}

.Skills ul{display:grid;
grid-template-columns: repeat(6,1fr);
grid-gap: 10px;}

.Skills ul li{background-color: rgb(49, 5, 144);
padding: 10px 0px;list-style: none;
border-radius: 0px;
transition:all 1s ease;
border: 1px solid rgb(0, 0, 0);
transition: all 1s ease;
cursor: pointer;}

.Skills ul li:hover{background-color: rgb(186, 0, 248);
	border: 1px solid rgb(29, 29, 29);
padding: 10px 0px;
list-style: none;
border-radius: 0px;
transition: all 2s ease;
transform: translateY(-25px);}



.Skills ul li img{width: 60px;height: 60px;
;margin: 0 auto;
display: flex;justify-content: center
;align-items: center;}

.Skills ul li h6{font-size: 16px; text-align: center;
font-family:Leonsans;
margin-top: 10px;
letter-spacing:1px;}

.Skills :hover > h6{	text-shadow: 0px 2px 7px black;}

.cardp2 { display: grid;
	grid-template-columns: repeat(2,1fr);
width: 100%;
margin: 30px auto ;
max-width:1300px}

.cardp2 .img-pc{border:2px solid rgb(120, 64, 200);
	box-shadow: 0px 0px 6px rgb(11, 107, 192);
	width:350px;
	height: 260px;
	margin: 0 auto;
margin-top: 70px ;}


.cardp2 div img{display: flex;
width:360px;
height: 258px;;
margin: 0 auto;
background: black;
transform: translateX(21px) translateY(-18px);
box-shadow: 0px 0px 5px rgb(25, 182, 214);
transition: all 1s ease-out;}

.cardp2 div:hover > img{display: flex;
	transform: translateX(-30px) translateY(30px);
box-shadow: 0px 0px 20px rgb(15, 146, 131);
margin: 0 auto;
cursor: pointer;
transition: all 1s ease-out;}

.cardp2 .text2 {margin-left: -50px;
width:100% ;}

.cardp2 div p {font-size:20px;
color: white;
;width:90%;
margin: 0px;
line-height: 1.3;
font-family:Leonsans;
margin-top: 20px;
text-align:left;}

.cardp2 div ul{display: grid
	;grid-template-columns: repeat(2,1fr);
grid-gap: 15px ;
width:91%;
margin-top: 20px;}

.cardp2 div ul li {font-size:15px;
color: white;
;width:100%;
line-height: 1.3;
font-family:Leonsans;
background-color: #0b0b0cf7;
padding: 15px 10px ;list-style: none;
border-left:4px solid rgb(146, 39, 223) ;
transition: all 2s ease;
cursor: pointer;
background: linear-gradient(to right,#041b20, #341073,
 #1762b3);
background-size:300% 300%;
transition: all 3s ease;
cursor: pointer;}

.cardp2 div ul li:hover{
background-position: 100% 0%;
transition: all 3s ease;
border-left:4px solid rgb(58, 129, 253);}


